/*================================================
--------------------Reset-------------------------
================================================*/
*{/*position:relative;*/box-sizing:border-box;font-family:"Poppins";margin:0;padding:0;}
.btn:hover,.btn:active,.btn:focus
{
    outline: none;
    box-shadow: none;
}
.button-outline-primary
{
    border: 1px solid #fff!important;
    background: none!important;
    
}
/*.button-primary
{
    background: #ff8a00!important;
}*/
body{overflow-x:hidden;}
a:hover,a:focus{color:initial;text-decoration:none}
.mt-30{margin-top:30px}
.mb-50{margin-bottom:50px}
.mt-80{margin-top:80px}
/*.color-18{background-color:#21D4FD;background-image:linear-gradient(to right bottom,#21D4FD 0%,#B721FF 100%);background-size:200% auto;}*/
.color-18{background-color:#56ce6a;background-image:linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-size:200% auto;color:#fff!important;display:inline-block;border:none;line-height:45px;height:45px;font-weight:600;font-size:14px;text-transform:uppercase;border-radius:30px;cursor:pointer;transition:all .3s ease 0;padding:0 40px;}
.color-18:hover{background-position:right center;color:#fff}

@keyframes lg_animate {
0%{filter:hue-rotate(0)}
100%{filter:hue-rotate(360deg)}
}

@media(max-width: 991px)
{
    .d-none-991
    {
        display: none!important;
    }
}


/*================================================
--------------------Header-----------------------
================================================*/
/*header area*/
/*.logo{transition:transform .1s cubic-bezier(0,1.8,1,1.8)}*/
.logo{width:200px;filter:brightness(0) invert(1);padding: 0!important;height: 100%;position: relative;}
.logo:hover{background: none!important}
.logo img{max-width:100%;max-height: 100%;position: absolute;top: 50%;transform: translateY(-50%);}
.logo h1{font-size: inherit;}
.logo p{color:#fff;text-transform:uppercase;letter-spacing:3px;font-size:16px;font-weight:400;margin-left:6px;text-shadow:1px 3px 2px rgba(0,0,0,.5)}
#header{position:fixed;z-index:997;top:0;left:0;right:0;padding: 40px 0}
.nav-menu li{display:inline}
.nav-menu li a{color:#fff;padding:0 8px;font-weight:600;font-size:14px;text-transform:uppercase}
#header.header-scrolled
{
    transition:all .5s;
    background-color:#56ce6a;background-image: url(../images/background.svg),linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-blend-mode: overlay;
/*    background-color: #6E49D9;
background-image: linear-gradient(293deg, #01DBB0 0%, #6E49D9 100%);*/
    box-shadow:0 1px 6px 0 rgba(14,13,26,0.12),0 2px 1px 0 rgba(7,48,114,0.12),0 1px 2px 0 rgba(34,0,51,0.04),0 0 0 1px rgba(32,18,58,0.04);
    padding: 10px 0;
}

/*#header.header-scrolled .logo{filter:brightness(0) invert(0);}*/
/*#header.header-scrolled .logo img{height: 65px;}*/

/*################### MAIN MENU ###########################*/
.main-menu
{
    display: flex;
    list-style-type: none;
    font-size: 13px;
    /*height: 60px;
    line-height: 60px;*/
    background: transparent;
    margin-bottom: 0;
}    
.main-menu li a
{
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}
.menu li a
{
    padding: 0;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    font-weight: bold;
    color: #333;
    padding: 15px 0;
    border-radius: 0!important;
}
.main-menu li
{
    /*border-right: 1px solid #c6d0da;*/
}
.main-menu li:first-child
{
    margin-right: auto;
}

.main-menu a:hover, .menu .active .page-scroll
{
    background-color:#56ce6a;background-image:linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);
    border-radius: 5px;
    color: #fff;
}
.main-menu .hamburger
{
    width: 60px;
}

.hamburger-toggle
{
    background: #292b2c;
    text-align: center;
    border-radius: 5px;
}



/*.main-menu .hamburger > a
{
    padding: 0 15px;
    border-radius: 50%;
}*/

.main-menu .hamburger span
{
    width: 30px;
    height: 3px;
    background: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.main-menu .hamburger span:before
{
    content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -6px;
    transition: all .3s ease;
    left: 0;
}
.main-menu .hamburger span:after
{
    content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all .3s ease;
}
.main-menu .menu-wrapper
{
    background: #f0f8ff;
}
.main-menu a:hover
{
color: #fff;
}

.scroller
{
        position: absolute;
    overflow-y: scroll;
    width: 340px;
    height: 100%;

}
.menu-wrapper
{
    width: 340px;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    /*width: 60px;*/
    
    background: #fff;
    
    transform: translateX(400px);
    
    transition: transform 0.3s, width 0.3s;
    box-shadow: 0 1px 6px 0 rgba(14,13,26,0.12),0 2px 1px 0 rgba(7,48,114,0.12),0 1px 2px 0 rgba(34,0,51,0.04),0 0 0 1px rgba(32,18,58,0.04);

}
.menu li:hover .main-menu li .menu-wrapper
{
    width: 340px;
}
.hamburger:hover .menu-wrapper
{
    /*transform: translateX(0);*/
}
.menu li a i
{
    display: inline-block;
width: 60px;
text-align: center;
text-transform: none;


}
._open_menu
{
    /*width: 340px;*/
    transform: translateX(0);
}
._close_menu
{
    width: 60px;
    transform: translateX(-60px)
}
._open_menu_icon
{
    transform: translateX(0)
}
._close_menu_icon
{
 transform: translateX(-60px);
}
/**/

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/*================================================
--------------------Banner/Home Slider------------
================================================*/
/*################### PARTICLES JS ###########################*/
/*#particles-js,#particles-js-one,#particles-js-two{height:100%;width:100%;position:absolute;top:0}*/
.home_slider
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    width: 100%;
	/*min-height:670px;display:flex;align-items:center;position:relative;z-index:0;background-size:100% 100%*/
}
#particles-js, #particles-js-one, #particles-js-two, #particles-js-three, #particles-js-five
{
    width: 100%;
    height: 680px;
    overflow: hidden;
    /*background-color: #6E49D9;
    background-image: linear-gradient(293deg, #01DBB0 0%, #6E49D9 100%);*/
    background-size: 100% 100%;
    background-position: 50% 50%;
    /*background-repeat: no-repeat;*/
    position: relative;
}



/*.home_slider1_bg{background-color:#21D4FD;background-image:linear-gradient(to left,#21D4FD 0%,#B721FF 100%);z-index: 0;}*/
/*.home_slider1_bg{background-color: #6E49D9;background: url(../images/1.png); z-index: 0;}*/
/*linear-gradient(225deg, #ffc63f, #fd3358 49%, #bc35d8)*/
/*.home_slider1_bg{background-color: #6E49D9;background-image: linear-gradient(293deg, #01DBB0 0%, #6E49D9 100%);z-index: 0;}*/
/*.banner2-bg{background:url(../images/11.jpg) center no-repeat}
.banner3-bg{background:url(../images/11.jpg) center no-repeat}*/
/*.banner-right{width:500px;height:auto;position:absolute;top:-100px;right:0;z-index:2}*/
/*.banner-right img{max-width:100%;max-height:100%;animation-name:MoveUpDown;animation-duration:3s;animation-iteration-count:infinite;animation-direction:alternate}*/
.bottom-image{width:100%;height:100px;z-index:99;position:absolute;bottom:0}
.banner-right
{
    text-align: right;
    padding-right: 90px;
}
.banner-right figure
{
    animation-name:MoveUpDown;animation-duration:3s;animation-iteration-count:infinite;animation-direction:alternate;

}
.banner-right figure, .banner-right figure span {
    display: inline-block;
    width: 100%;
    height: 440px;
    /*background: #fff;*/
    border-radius: 50%;
    text-align: center;
    margin: 0px;
    /*box-shadow: 0px 5px 15px rgba(0,0,0,0.1);*/
    position: relative;
}
.banner-right figure:before {
    width: 125%;
    height: 125%;
    border: 1px solid rgba(255,255,255,0.2);
    }
.banner-right figure:before, .banner-right figure:after {
    position: absolute;
    content: '';
    font-family: "font awesome 5 free";
    font-weight: 900;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-right figure img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-right figure:after {
    width: 155%;
    height: 155%;
    border: 1px solid rgba(255,255,255,0.15);
}
.banner-right figure span:before {
    width: 185%;
    height: 185%;
    border: 1px solid rgba(255,255,255,0.15);
}
.banner-right figure span:before, .banner-right figure span:after {
    position: absolute;
    content: '';
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-right figure span:after {
    width: 220%;
    height: 220%;
    border: 1px solid rgba(255,255,255,0.10);
    }

@keyframes MoveUpDown {
0%{transform:translateY(0)}
100%{transform:translateY(30px)}
}
.home_slider .title{font-size:4rem;line-height:5rem;font-weight:900;color:#fff;text-transform: uppercase;}
.home_slider .title span{color:#fff;}
.home_slider .desc{color:#f2f2f2;margin:20px 0;font-size: 1.25rem;text-transform: uppercase;}
.home_slider1_bg:after{content:'';position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(45,42,50,.9);z-index:-1}

.home_slider h2 span{font-weight:900}   

@media (max-width: 991px)
{
    .banner-right{display: none}
    #particles-js-one{height: 500px;}
    .banner-left{text-align: center;}
    .home_slider .title{font-size:3rem;line-height:4rem;}
}
@media(max-width: 767px)
{
    .home_slider .title{font-size:32px;line-height:40px;}
}
@media(max-width: 575px)
{
    .home_slider .title{font-size:28px;}
    .call_to_action a:first-child{margin-bottom: 20px;}
}
@media (max-width: 480px)
{
	.home_slider
	{
		top: 55%;
	}
}
/*################### TYPING HEADING ###########################*/
.cd-words-wrapper{display:inline-block;position:relative;text-align:left}
.cd-words-wrapper b{display:inline-block;position:absolute;white-space:nowrap;left:0;top:3px}
.cd-words-wrapper b.is-visible{position:relative}
.no-js .cd-words-wrapper b{opacity:0}
.no-js .cd-words-wrapper b.is-visible{opacity:1}
.cd-headline.clip span{display:inline-block;}
.cd-headline.clip .cd-words-wrapper{overflow:hidden;vertical-align:top}
.cd-headline.clip .cd-words-wrapper::after{content:'';position:absolute;top:0;right:0;width:2px;height:100%;background:rgba(255,255,255,0.4);}
.cd-headline.clip b{opacity:0; display: inline-block;}
.cd-headline.clip b.is-visible{opacity:1}
/*################### OWL CAROUSEL ###########################*/
.owl-nav .owl-prev,.owl-nav .owl-next{width:40px;height:40px;background:rgba(255,255,255,.5)!important;font-size:20px!important;color:#333!important;box-shadow:2px 2px 6px rgba(0,0,0,.5);line-height:0!important;border-radius:50%!important}
.owl-nav .owl-next{right:100px!important;position:absolute;top:45%}
.owl-nav .owl-prev{position:absolute;top:45%;left:100px!important}
.owl-nav{margin-top:0}
.owl-nav .owl-next:focus,.owl-nav .owl-prev:focus{outline:none!important}



/*================================================
--------------------Our Services------------------
================================================*/
#our-services{background:url(../images/our-services.png);background-size:cover;margin:50px 0;padding:100px 0 0}
.demo-icon-feature{padding:30px;height:310px;margin-top:10px;margin-bottom:30px;position:relative;overflow:hidden}
.demo-icon-feature:hover .icon{width:50px}
.v-hidden{visibility:hidden;color:#6c757d;text-align:justify}
.demo-icon-feature:hover .v-hidden{visibility:visible;font-size:14px}
.demo-icon-feature:hover .desc{padding-top:20px}
.demo-icon-feature:before{position:absolute;width:2px;height:0;transition:all .3s ease}
.demo-icon-feature .line{position:absolute;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background:0 0}
.demo-icon-feature .line:before,.demo-icon-feature .line:after{content:"";position:absolute;background:#000;bottom:0;right:0}
.demo-icon-feature .line:before{width:2px;height:0}
.demo-icon-feature .line:after{width:0;height:2px;transition:all .3s ease}
.demo-icon-feature .icon{display:inline-block;width:110px;border-radius:50%;box-shadow:-3px 11px 32px rgba(0,0,0,.08);text-align:center;transition:all .3s ease}
.demo-icon-feature .icon span{font-size:30px;line-height:110px;color:#333;transition:all .3s ease}
.demo-icon-feature .desc{color:#333;padding:40px 0 10px;font-size:18px}
.demo-icon-feature:hover .desc{font-size:24px;background:-webkit-linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.demo-icon-feature:before,.demo-icon-feature:after{position:absolute;transition:all .3s ease;content:"";background:#000}
.demo-icon-feature:before{width:2px;height:0;top:0;left:0}
.demo-icon-feature:after{width:0;height:2px;top:0;left:0}
.demo-icon-feature:hover{box-shadow:1px 3px 5px 0 rgba(173,173,173,.19),0 15px 25px rgba(212,212,212,.13);transform:translateY(-10px)!important}
.demo-icon-feature:hover .desc{font-size: 20px;}
.demo-icon-feature:hover:before{height:30px}
.demo-icon-feature:hover:after{width:30px}
.demo-icon-feature .line:hover:before{height:30px}
.demo-icon-feature .line:hover:after{width:30px}
.demo-icon-feature:hover .icon{box-shadow:none}
.demo-icon-feature:hover .icon span{color:#fff}
.main-title h3:after{content:"";position:absolute;width:200px;height:2px;background:#f31f7a;bottom:-15px;left:50%;transform:translateX(-50%)}
.main-title h3{font-size:70px;font-weight:700;position:relative}
.main-title p{margin:50px 0 16px;color:#777;font-size:14px}
@media(max-width: 991px)
{
    .main-title h3{font-size: 60px;}
}
@media(max-width: 767px)
{
    .main-title h3{font-size: 40px;}
}

/*================================================
--------------------Why Choose Us-----------------
================================================*/
#why-choose-us{background:url(../images/why-choose-us.png);background-size:cover;margin:50px 0;padding:100px 0 0}
.demo-feature{height:100%;background:#fafafa;padding:15px}
.demo-feature .svg-icon{height:120px;padding:10px}
.demo-feature .desc{padding-left:30px;background:#fafafa}
.demo-feature .desc h4{font-size:18px;margin-bottom:10px;color:#333}
.demo-feature .desc p{margin-bottom:0;font-size:14px;color:#777}
/*================================================
--------------------Web Development-----------------
================================================*/
.section-padding{padding:120px 0}
/*.web-development{background-color:#21D4FD;background-image:linear-gradient(to right bottom,#21D4FD 0%,#B721FF 100%);position:relative}*/
.web-development{background-color:#56ce6a;background:url(../images/background.svg),linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-blend-mode: overlay;position:relative}

.web-development .left-content h2{font-size:28px;color:#fff;line-height:1.3em;position:relative;margin-bottom:30px}
.web-development .left-content h2:after{position:absolute;content:"";width:70px;height:1px;background:#e0e5ff;bottom:-7px;left:0}
.web-development .left-content ul li{color:#fff;margin-top:10px}
/*@media (max-width: 1599px) and (min-width: 1200px) {
.cta-bg .mac-img{top:80px;height:350px;width:550px}
}
@media (max-width: 1200px) and (min-width: 768px) {
.cta-bg .mac-img{top:50%;right:0;transform:translateY(-50%);height:300px}
}
@media (max-width: 767px) {
.cta-bg .mac-img{display:none}
}*/
@media (max-width: 991px)
{
    .section-padding{padding:60px 0}
}
.web-development figure
{
    width: 100%;
    height: 400px;
    position: relative;
    
}
.web-development figure img
{
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
}
@media (max-width: 991px)
{
    .web-development figure
    {
        display: none;
    }
}
/*================================================
--------------------About Us----------------------
================================================*/
/*.about-us{background-color:#21D4FD;background-image:linear-gradient(to right bottom,#21D4FD 0%,#B721FF 100%)}*/
.about-us{background-color:#56ce6a;background:url(../images/background.svg),linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-blend-mode: overlay;}
/*.footer-imac img{max-height:100%;width:540px;border-radius:5px}
.footer-imac{position:absolute;bottom:82px;left:100px}
@media (max-width: 1600px) and (min-width: 1200px) {
.footer-imac{height:320px;width:480px}
}
@media (max-width: 1200px) and (min-width: 768px) {
.footer-imac{height:280px;bottom:50%;left:0;transform:translateY(50%)}
}
@media (max-width: 767px) {
.footer-imac{display:none}
}*/
.about-us figure
{
    width: 100%;
    height: 380px;
    position: relative;
    
}
.about-us figure img
{
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
}
.about-us-content p{text-transform:capitalize;font-size:30px;color:#fff;border-bottom:1px solid #fff}
.about-us-content h2{font-size:15px;color:#fff;line-height:1.6em}
/*.about-us-content a{background: #ff8a00}*/
.about-us-content .color-18{padding:0 30px!important}
@media (max-width: 991px)
{
    .about-us figure
    {
        display: none;
    }
}
/*================================================
--------------------Footer----------------------
================================================*/
.section-full{padding:20px 0}
/*.footer-bg-demo{background:#191b20;margin-bottom:-30px}*/
.footer-bg-demo{background-color: #56ce6a;background: url(../images/background.svg),linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-blend-mode: overlay;margin-bottom:-30px}
.footer-content p{margin:0;color:#fff}
.footer-content p a{color:#fff;font-weight: bold}
/*.footer-content p a:hover{color:#fff}*/
/*@media (max-width:767px) {
footer.section-full{padding:50px 0}
.footer-content p{font-size:12px}
}*/
.footer-social li{margin-right:5px}
.footer-social li:last-child{margin-right:0}
.footer-social li a{display:inline-block;width:35px;height:35px;line-height:35px;text-align:center;border-radius:3px}
.footer-social li a i{transition:all .3s ease;position:relative;z-index:2}
.footer-social.color-2 li a{background:rgba(255,255,255,1);position:relative}
.footer-social.color-2 li a:after{position:absolute;content:'';width:100%;height:100%;top:0;left:0;opacity:0;border-radius:3px}
.footer-social.color-2 li a i{color:#100e26}
.footer-social.color-2 li a:hover:after{opacity:1}
.footer-social.color-2 li a:hover i{color:#f41863}
/*================================================
--------------------Our Pricing Plansr------------
================================================*/
#our-pricing{background:url(../images/pricing.png);background-size:cover;margin:50px 0;padding:100px 0 0}
.our-pricing-desc{padding:0 15px}
.pricing-head{color:#777;text-align:center}
.pricing-head p{font-size:28px;margin-bottom:0;font-weight:700;text-transform:uppercase}
.our-pricing-desc ul{list-style-type:none;padding-left:0}
.our-pricing-desc ul li{position:relative;font-size:14px;padding:7px 0;color:#333;text-align:center}
.our-pricing-desc ul li:before{content:"\f00c";background:#98c458;font-family:'font awesome 5 free';font-weight:900;width:20px;font-size:10px;height:20px;line-height:20px;border-radius:50%;text-align:center;color:#fff;position:absolute;top:6px;right:0}
.our-pricing-desc ul li.disable:before{content:"\f00d";background:#fe6c6c}
.our-pricing-wrapper{border-radius:5px;height:100%;display:flex;flex-direction:column;transition:all .3s ease;box-shadow:0 0 4px rgba(0,0,0,.5);background: aliceblue;}
.our-pricing-wrapper .sp{font-size:18px}
.price-desc{background:rgba(255,255,255,.7);margin:20px 0;padding:15px 0}
.pricing-footer{color:#fff;margin:15px;text-align:center}
.pricing-footer p{margin-bottom:0}
.price{font-size:28px;color:#333;font-weight:500}
.regular-price{font-size:14px}
.regular-price span{text-decoration:line-through}
.svg-icon{height:50px;display:inline-block;margin:20px 0 auto}
@media (max-width: 991px) {
.pricing .col-lg-4{margin-bottom:30px}
}
/*================================================
------------Frequently Asked Quesitons------------
================================================*/
#faq{background:url(../images/faq.png);background-size:cover;margin:50px 0;padding:100px 0 0}
.faq{margin-bottom:50px}
/*.faq-header .icon{background:-webkit-linear-gradient(19deg,#21D4FD 0%,#B721FF 100%);background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent;padding:10px;text-align: center;line-height: 10px;margin-right: 10px;}*/
.faq-header .icon{background:-webkit-linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent;padding:10px;text-align: center;line-height: 10px;margin-right: 10px;}
.faq-header a:hover{text-decoration:none}
.faq-header a{text-decoration:none;color:#333;font-size:17px;display:flex;align-items:center;background:#F2F2F2;padding: 10px 5px}
.faq-header{margin-bottom:10px;}
.faq-body{padding:10px 15px}
@media(max-width: 991px)
{
    /*.faq-header a{font-size: 19px;}*/
}

/*================================================
------------Portfolio Section------------
================================================*/
 .portfolio-area{padding-bottom:70px}
@media (max-width: 1440px) {
.portfolio-area{margin-bottom:30px;padding:95px 5% 25px}
}
@media (max-width: 1024px) {
.portfolio-area{margin-bottom:0;padding-bottom:40px;padding-top:60px}
}
.portfolio-area .heading{line-height:70px}
@media (max-width: 767px) {
.portfolio-area .filters{margin-bottom:20px}
}
.portfolio-area .filters ul li{font-size:14px;padding:18px 28px}
@media (max-width: 576px) {
.portfolio-area .filters ul li{font-size:12px;padding:20px 5px}
}
@media (max-width: 480px) {
.portfolio-area .filters ul li{padding:0 5px}
}
.portfolio-area .filters ul li:after{content:none}
.portfolio-area .single-img{padding:0;background:transparent;margin-bottom:50px;text-align:center}
.portfolio-area .single-img h4{font-size:18px;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0}
.portfolio-area .single-img img{-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0}
@media (max-width: 767px) {
.portfolio-area .single-img img{margin-top:0}
}
.portfolio-area .single-img:hover{box-shadow:none}
.portfolio-area .single-img:hover img{box-shadow:-10px 10px 20px #aeaeae}
.portfolio-area .single-img:hover h4{color:#ff9400}
.portfolio-area .filters{text-align:center}
.portfolio-area .filters ul{padding:0}
.portfolio-area .filters ul li{list-style:none;display:inline-block;padding:18px 30px;cursor:pointer;position:relative;text-transform:uppercase;color:#222;font-size:14px;font-weight:700;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0}
@media (max-width: 992px) {
.portfolio-area .filters ul li{padding:18px 15px}
}
@media (max-width: 736px) {
.portfolio-area .filters ul li{padding:6px}
}
.portfolio-area .filters ul li:hover,.portfolio-area .filters ul li.active{color:#ff9400}
.portfolio-area .filters-content{margin-top:50px}
@media (max-width: 991px) {
.portfolio-area .filters-content{margin-top:0}
}
.portfolio-area .heading{font-size:60px;font-weight:800;text-shadow:-15px 15px 25px rgba(174,174,174,0.5);text-transform:capitalize}
.portfolio-area .heading .fname{color:#7134db}
.portfolio-area .heading .lname{color:#ff9400}
/*================================================
------------Portfolio Section------------
================================================*/
/*#################### VISITOR COUNTER###########################*/
.counterimg{position:fixed;bottom:0;z-index:2}
/*#################### FLOATING, MODAL, SCROLL TOP ###########################*/
.floating{font-size:14px;position:fixed;top:50%;left:-103px;transform:rotate(90deg);box-shadow:0 0 6px rgba(255,255,255,.6);opacity:1;background:#353637;color:#fff;z-index:2;text-transform:uppercase;border-top-left-radius:20px;border-top-right-radius:20px;cursor:pointer;transition:all .3s ease 0;padding:10px 20px;letter-spacing:2px}
/*.floating.active{opacity:1}*/
.modal-body{padding:0}
.modal-header{background:#fff;color:#333}
.modal-title{font-size:24px;text-align: center;}
.modal-footer{justify-content:center}
button.close{position: absolute;top: 6px;right: 15px}
.scrollTop{position:fixed;bottom:800px;right:25px;border-radius:5px;width:50px;height:50px;text-align:center;cursor:pointer;z-index:9;opacity:0;transition:all .3s ease;cursor:pointer}
.scrollTop:hover:after{top:40%}
.scrollTop.active{opacity:1;bottom:120px;z-index: 999;right: -20px;}
/*.scrollTop{background:url("../images/img.svg");height:80px;width:108px;background-size:contain;animation-name:MoveUpDown;animation-duration:3s;animation-iteration-count:infinite;animation-direction:alternate}*/
@media (max-width: 800px) {
.scrollTop{display:none}
}
/*#################### PRELOADER ###########################*/
.preloader{position:fixed;top:0;left:0;width:100%;height:100%;display:table;background:#fff;z-index:99999}
.preloader img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}

/*#################### HOVER EFFECTS ###########################*/


/*#################### SCROLLBAR CSS ###########################*/
::-webkit-scrollbar{width:15px;height:30px;transition: all .3s ease}
/*html:hover body::-webkit-scrollbar{display: block; transition: all .3s ease}*/
/*::-webkit-transform:rotateX(180deg); /* Safari and Chrome */
::-webkit-scrollbar-thumb{background: url(../images/background.svg),linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);background-blend-mode: overlay;border-radius:30px;box-shadow:inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}

/*#################### SIDE MENU SCROLLBAR CSS ###########################*/
.scroller::-webkit-scrollbar{width:10px;height:10px;}
.scroller::-webkit-scrollbar-thumb{background:url(../images/background.svg),linear-gradient(90deg,#56ce6a,#31c7aa 51.84%,#2db1ce);border-radius:30px;box-shadow:inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)}
.scroller::-webkit-scrollbar-track{background:linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17)}







/*#################### LOADER CSS ###########################*/

    #loader
    {
        width:500px;
        background: none;
        position:absolute;
        text-align:center;
        left:calc(50% - 250px);
        top:calc(50% - 10px)
    }
    #loader .square
    {
        display:inline-block;
        height:10px;
        width:10px;
        margin:10px;
        position:relative;
        box-shadow:0 0 20px rgba(0,0,0,.3);
        animation:bouncer cubic-bezier(.455,.03,.515,.955) .75s infinite alternate
    }
    #loader .square:nth-child(5n+1)
    {
        background:#0F9;
        animation-delay:0
    }
    #loader .square:nth-child(5n+2)
    {
        background:#0CF;
        animation-delay:calc(0s + (.1s * 1))
    }
    #loader .square:nth-child(5n+3)
    {
        background:#93F;
        animation-delay:calc(0s + (.1s * 2))
    }
    #loader .square:nth-child(5n+4)
    {
        background:#F66;
        animation-delay:calc(0s + (.1s * 3))
    }
    #loader .square:nth-child(5n+5)
    {
        background:#FFF35C;
        animation-delay:calc(0s + (.1s * 4))
    }
    @keyframes bouncer
    {
        to
        {
            transform:scale(1.75) translateY(-20px)
        }
    }
