.template-mega-menu {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 100%;
    padding: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*.template-mega-menu:before
 {
    content:"";border:16px solid transparent;position:absolute;top:-31px;border-bottom-color:#fff;left:50%;transform:translateX(-50%); border-radius:3px
 }*/
.template-mega-menu .menu-ctg-title {
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px dotted;
}

.template-mega-menu ul.sub-menu {

    margin-bottom: 20px;
}

.template-mega-menu ul.sub-menu li {
    margin-bottom: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
}

.template-mega-menu ul.sub-menu li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #111111;
    padding: 15px 0 15px 30px;
    display: block;
    /*transition: all 0.5s cubic-bezier(0, 0, 0.15, 1.88);*/
    position: relative;

}

.template-mega-menu ul.sub-menu li a i {
    color: #444444;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}
.template-mega-menu ul.sub-menu li a > * {
    color: #444444;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
    /*transition: all 0.3s ease-out;*/
}
.template-mega-menu ul.sub-menu li:hover a > *
{
    color: #fff;
}

/*nav.template-main-menu > ul > li .template-mega-menu {
    visibility: hidden;
}*/


/*@media (max-width: 991px)
{
    .header.header 
    {
        display: none;
    }

}*/