/*body{font-size:15px;color:#777;line-height:1.8em;font-weight:400;background:#fff;background-size:cover;background-repeat:no-repeat;background-position:center top;-webkit-font-smoothing:antialiased;font-family:open sans,sans-serif}*/
a{text-decoration:none;cursor:pointer;color:#131313}
a:hover,a:focus,a:visited{text-decoration:none;outline:none}
h1,h2,h3,h4,h5,h6{position:relative;font-weight:400;margin:0;background:0 0;line-height:1.6em;color:#2dabf5}
p{position:relative;line-height:1.8em}
img{display:inline-block;max-width:100%}
ul,li{list-style:none;padding:0;margin:0}

/*
background: #ff4752;
    border-radius: 100px;
    border-color: #ff4752;
    box-shadow: none;
    font-size: 18px;
    line-height: 34px;
    padding: 0 17px;
    font-weight: 600;
*/










/*================================================
--------------------Reset-------------------------
================================================*/
*{box-sizing:border-box;font-family:"Poppins";margin:0;padding:0}
body{top:0!important;overflow-x: hidden;}
.btn
{
	font-weight:600;
	display:inline-block;
	padding:12px 32px;
	font-size:16px;
	text-align:center;
	border:2px solid transparent;
	border-radius:3px;
	box-shadow:0 2px 4px 0 #c8d7ee;
	transition:all .2s ease-in-out;
}
.btn-2
{
	padding: 2px 14px!important;
    border-radius: 100px;
    font-size: 18px!important;
    box-shadow: none;
    display: inline-block!important;
}
@media (max-width: 991px)
{
	.btn-2{margin-bottom: 20px}
}


.btn--large{min-width: 200px}
button:focus, .btn:hover,.btn:active,.btn:focus{outline:none;box-shadow:none}

.button-outline-primary
{
	     color: #3368fa;
    background-color: #fff;
    border-color: #3368fa;
}
.button-outline-primary:hover
{
	    color: #002ca6;
    background-color: #f5f8ff;
    border-color: #002ca6;
}
.button-primary
{
	color: #fff;
    background-color: #3368fa;
    border-color: #3368fa;
}
.button-primary:hover
{
	color: #fff;
    background-color: #002ca6;
    border-color: #002ca6;
}
ul{list-style:none;margin-bottom:0}
/*Animation Keyframes*/
@keyframes BorderAnimation {
0%{background-position-x:0}
100%{background-position-x:-200%}
}
@keyframes BtnBorderAnimation {
0%{background-position-x:0}
100%{background-position-x:226px}
}
@keyframes lg_animate {
0%{filter:hue-rotate(0)}
100%{filter:hue-rotate(360deg)}
}
@keyframes filter_animation {
0%{filter:hue-rotate(0deg)}
20%{filter:hue-rotate(90deg)}
40%{filter:hue-rotate(180deg)}
60%{filter:hue-rotate(270deg)}
100%{filter:hue-rotate(360deg)}
}
.filter-animation{animation:filter_animation 8s ease-in-out infinite}
.animate__pulse{animation:pulse infinite .5s}
.section{padding:64px 15px;}
.px-30{padding:0 30px!important}
.p-120-30{padding:120px 30px}
.mt-30{margin-top:30px}
.mb-50{margin-bottom:50px}
.mt-80{margin-top:80px}
.color-18{overflow:hidden;min-width:200px;color:#fff!important;display:inline-block;border:none;font-weight:600;font-size:16px;text-transform:capitalize;border-radius:5px;cursor:pointer;transition:all .3s ease 0;padding:12px 32px;box-shadow:1px 0 8px #666;text-shadow:1px 0 5px #565656;position:relative}
/*.color-18:hover{background-position:right center;color:#fff}*/
.color-18:hover:before{background:repeating-linear-gradient(45deg,#28d077 0 40px,#ffdf13 0 80px,#00abf2 0 120px,#da281c 0 160px);animation-play-state:running}
.color-18:before{content:"";display:block;position:absolute;top:0;left:0;background-position-x:0;background-position-y:0;background-size:auto;-webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 100%,1px calc(100% - 6px),2px calc(100% - 3px),3px calc(100% - 2px),6px calc(100% - 1px),calc(100% - 6px) calc(100% - 1px),calc(100% - 2px) calc(100% - 3px),calc(100% - 3px) calc(100% - 2px),calc(100% - 1px) calc(100% - 6px),calc(100% - 1px) 6px,calc(100% - 3px) 2px,calc(100% - 2px) 3px,calc(100% - 6px) 1px,6px 1px,3px 2px,2px 3px,1px 6px,1px 100%,0 100%);clip-path:polygon(0 0,100% 0,100% 100%,0 100%,1px calc(100% - 6px),2px calc(100% - 3px),3px calc(100% - 2px),6px calc(100% - 1px),calc(100% - 6px) calc(100% - 1px),calc(100% - 2px) calc(100% - 3px),calc(100% - 3px) calc(100% - 2px),calc(100% - 1px) calc(100% - 6px),calc(100% - 1px) 6px,calc(100% - 3px) 2px,calc(100% - 2px) 3px,calc(100% - 6px) 1px,6px 1px,3px 2px,2px 3px,1px 6px,1px 100%,0 100%);background-size:226px;background-position:top left;width:100%;height:100%;border-radius:6px;transform:perspective(1px);animation:BtnBorderAnimation 2s linear infinite paused}
@media (min-width: 991px)
{
	.section{padding:64px 80px;}
}


/**/
.top-left
{

		display: flex;
		align-items: center;
		height: 40px;
		line-height: 40px;

}
.top-left > *
{
	font-size: 14px; color: #ffffff; white-space: nowrap; position: relative; line-height: 1.8em;
}
.top-links{background:transparent;height:45px;line-height:45px;z-index:3;border-bottom: 1px solid #615c5c}
.top-links ul li{display:inline-block;margin-right:10px;}
.top-links ul li:last-child{margin-right: 0}
.top-links ul li a{color:#fff;font-size:14px}
.top-links ul li a.facebook:hover{color:#1877f2}
.top-links ul li a.twiter:hover{color:#1da1f2}
.top-links ul li a.youtube:hover{color:red}
.top-links ul li a.pinterest:hover{color:#bd081c}
.top-links ul:last-child li:last-child a{margin:0}
.top-links ul li a span{margin-left:5px}
.social-contact{margin-right: 10px;}
.social-contact .phone{border-radius:5px;padding:1px 8px}
.social-contact .phone img
{
	margin: -2px -5px 0 0;
	width: 20px;
}
.top-social li{font-size: 14px}
.top-social a.fb{background-color:#3b5998}
.top-social a.tw{background-color:#55acee}
.top-social a.in{background-color:#3074bc}
.top-social a.yt{background-color:#dc4f43}
.top-social a:hover i{transform:rotate(12deg) scale(1.2);color:#fff}
.top-social a{color:#fff;font-size:16px;height:25px;display:inline-block;width:25px;line-height:27px;text-align:center;border-radius: 50%}
.top-social a i{transition:all .3s ease-in-out;color:#fff}
.top-social li{color: #fff}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .active > .nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show > .nav-link{color:#ff4752}
/*.nav-item.active .page-scroll{background-color:#56ce6a!important}*/
@media (max-width: 991px)
{
	.top-links{padding: 0 80px}
}
@media (max-width: 767px)
{
	.top-links{padding: 0 15px}
}
@media(max-width: 640px)
{
	.top-links .top-social{display: none;}
}
@media(max-width: 411px)
{
	.top-links .social-contact .mail{display: none;}
}

/*================================================
--------------------Header-----------------------
================================================*/
/*----------------------------------------top menu----------------------------------------*/

/*.menu-area .dropdown-toggle{white-space: inherit;}*/
.navbar-light .navbar-toggler{border: none}
/*.menu-area button:focus{outline: 0}*/
.dropdown-menu{padding:0;margin:0;border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link
/*.navbar-expand-lg .navbar-nav .nav-link*/
{
	font-size:17px;text-transform:capitalize;padding:11px 15px;display: block;
}
.mainmenu .collapse ul li > ul li a{font-size: 15px;word-break: break-word;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{text-decoration: none;}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{box-shadow: -5px 5px 10px rgba(0,0,0,0.2)!important;}
.mainmenu .collapse ul ul li:hover> ul{left:99%}
@media (max-width: 1199px){
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{font-size:16px;padding:11px 11px;}
}
@media (max-width: 991px){
.mainmenu .collapse ul ul li{padding-left: 15px}
.mainmenu{padding: 10px 80px}
}
@media (max-width: 767px){
.mainmenu{padding: 10px 15px}
}
@media (max-width: 991px) {
.mainmenu .collapse ul ul{left:13px!important}
.mainmenu .collapse ul ul,.mainmenu .collapse ul ul.dropdown-menu{box-shadow:-5px 5px 10px rgba(0,0,0,0.2)!important}
.mainmenu .collapse ul ul li:hover> ul{left:99%!important}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{font-weight: 600;}
}
/******************************Drop-down menu work on hover**********************************/
/*.mainmenu{margin: 0;padding: 0;min-height:20px;width: 100%;}*/
@media only screen and (min-width: 992px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}
}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:11px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}


/*----------------------------------------color css----------------------------------------*/
.menu-area{background: #fecd06;}
.dropdown-menu{border:0 solid rgba(0,0,0,.15)}
/*.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{background: #fff;}*/
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: #131313;color: #fff}
.mainmenu .collapse ul ul ul > li:hover > a{background: #131313;color: #fff}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#fff;}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#fff;color: #171717}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6;}
.mainmenu .collapse ul ul li{border-bottom:1px solid rgba(0,0,0,0.1)}
@media (max-width: 991px) {
.mainmenu .collapse ul > li:hover > a{background:rgba(0,0,0,0.04)}
.mainmenu .collapse ul ul,.mainmenu .collapse ul ul.dropdown-menu{background:#052149;}
.mainmenu .collapse ul ul > li:hover > a,.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background:rgba(0,0,0,0.04);color:#fff}
.mainmenu .collapse ul ul ul,.mainmenu .collapse ul ul ul.dropdown-menu{background:#052149;color:#fff}
.mainmenu .collapse ul ul ul > li:hover > a{background:rgba(0,0,0,0.04);color:#fff}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus,.navbar-default .navbar-nav>.show>a,.navbar-default .navbar-nav>.show>a:focus,.navbar-default .navbar-nav>.show>a:hover{color:#fff;background:rgba(0,0,0,0.04)}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{color: #fff;}
}
/******************************Drop-down menu work on hover**********************************/
































/**/
.navigation
{
	background: #152133;
    min-width: 200px;
    display: inline-block;
}
.navigation li
{
	padding-left: 15px;
}
.navigation li a
{
	padding: 10px;
    display: inline-block;
}
.navigation .submenu
{
	
}







/*.ni{width:28px;cursor:pointer;position:relative}*/
.ni{display: inline-block;}
.ni>span:first-child{width:22px;opacity:1}
.ni>span{width:19px;height:2px;background:#fff;display:block;margin-bottom:8px;border-radius:5px;transition:all .2s ease-in-out}
.ni>span:last-child{margin-bottom: 0}
.ni>span:nth-child(3){width:28px}
.ni:hover>span:first-child{width:18px}
.ni:hover>span:last-child{width:22px}
.ni:hover>span:nth-child(2){width:28px}
/*.dropdown-menu:before{display: none;}*/
.dropdown-menu{min-width:15rem;padding:0;margin:0;top:99%}
.dropdown-item{padding:10px}
.dropdown-item:hover{background:#052149;color:#fff}
/*.menu_open:hover .dropdown-menu{display:block}*/
.navbar-brand
{
	margin-right: 40px;
   
}
.navbar-brand img
{
/*background-color: white;*/
    /*border-radius: 10px;*/
    
    height: 55px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-light .navbar-nav .nav-link{padding: 10px 7px;font-size: 16px;text-transform:uppercase;display:inline-block;letter-spacing:1px;font-weight:700;color:#fff}
.navbar-light .navbar-nav .nav-item:not(:last-child) .nav-link{margin-right:0}
.navbar{background:transparent;min-height: 60px;padding: 10px 0}
#header.header-scrolled
	{
		box-shadow:0 2px 16px 0 rgb(255 255 255 / 28%);
		/*position:sticky;top:0;left:0;right:0;*/
		z-index:2;
		background: #131313;
		padding: 0 30px!important; position:fixed;top:0;left:0;right:0;z-index:3;padding:0;transition:all .5s ease;animation:smoothScroll 1s forwards
	}
@keyframes smoothScroll {
0%{transform:translateY(-40px)}
100%{transform:translateY(0px)}
}
@media (min-width: 992px)
{
	.ni{display: none;}
	#header{padding: 0 30px}
}
@media (min-width: 992px)
{
	.navbar-light .navbar-nav .nav-link{padding:20px 10px;text-transform:uppercase;display:inline-block;letter-spacing:1px;font-weight:700;color:#fff}
	.nav-item > .dropdown-menu:before{content:"";border:16px solid transparent;position:absolute;top:-31px;border-bottom-color:#fff;left:-1px;border-radius:3px}
}

@media (max-width: 480px)
{
	.navbar-brand img{height: 40px;}
}
@media (max-width: 360px)
{
	.navbar-brand img{height: 35px;}
}
/*################### MAIN MENU ###########################*/
.menu{flex-grow:1}
.menu-item > li a{padding:10px}
.menu-item li{padding-right:15px}
.menu-item li a i{padding-right:8px;display:none}
.our-services{position:relative}
.our-services .submenu:before{content:"";width:0;height:0;border:15px solid;border-color:transparent transparent orange;position:absolute;top:-30px;left:0}
.our-services .submenu{position:absolute;top:40px;background:orange;min-width:300px;padding:10px 15px}
/*================================================
--------------------Banner/Home Slider------------
================================================*/
.home_slider_link{position:absolute;bottom:-50px;left:50%;z-index:2;transform:translateX(-50%)}
.home_slider_link li:nth-child(1):hover,.home_slider_link li:nth-child(7):hover{transform:translateY(-55px) scale(1.1)}
.home_slider_link li:nth-child(1),.home_slider_link li:nth-child(7){transform:translateY(-55px);z-index:1}
.home_slider_link li:nth-child(2):hover,.home_slider_link li:nth-child(6):hover{transform:translateY(-35px) scale(1.1)}
.home_slider_link li:nth-child(2),.home_slider_link li:nth-child(6){transform:translateY(-35px);z-index:2}
.home_slider_link li:nth-child(3):hover,.home_slider_link li:nth-child(5):hover{transform:translateY(-15px) scale(1.1)}
.home_slider_link li:nth-child(3),.home_slider_link li:nth-child(5){transform:translateY(-15px);z-index:3}
.home_slider_link li:nth-child(4){z-index:4}
.home_slider_link li{margin:0 -5px;transition:all .3s ease}
.home_slider_link li:hover{transform:scale(1.1);z-index:5}
.home_slider_link li a img{width:80px;height:80px;background:#fff;border-radius:5px;padding:10px}
/*marquee{position:absolute;width:8%;z-index:5}*/
.home_slider_link.link_one{position:relative;left:30px;top:0;transform:translateX(0);z-index:5;display:inline-block}
.home_slider_link.link_one li a img{width:70px;height:70px}
.home_slider_link.link_one li:hover{transform:translateY(0) scale(1.1)}
.home_slider_link.link_one li{transform:translateY(0);margin-bottom:20px}


/*################### PARTICLES JS ###########################*/
.home_slider{position:absolute;top:50%;transform:translateY(-50%);z-index:2}
#particles-js,#particles-js-one,#particles-js-two,#particles-js-three,#particles-js-five{width:100%;height:587px;overflow:hidden;background-size:cover;background-repeat:no-repeat}
.hero_slider{height: 450px;}
/*hero_slider_wrapper*/
.hero_slider_video{
	background:#f5f8ff url(../images/bannertoon.jpg) center left no-repeat;
	/*z-index:0;*/
	height: 600px;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    top: -130px;
    z-index: -1;

}
/*.hero_slider_video:after{content:'';position:absolute;top:0;left:0;bottom:0;right:0;z-index:0;background:linear-gradient(90deg,rgba(86,206,106,.7),rgba(49,199,170,.7) 51.84%,rgba(45,177,207,0.7));background:linear-gradient(to left,rgba(24,199,70,.5),rgba(17,115,255,.5));background:rgba(0,0,0,0.4)}	*/
.banner-right{background:url(../images/2.png);background-size:45%;background-position:center 55px;background-repeat:no-repeat;position:relative}
.bottom-image{width:100%;height:100px;position:absolute;bottom:-10px;left:0}
.banner-right figure{animation-name:MoveUpDown;animation-duration:3s;animation-iteration-count:infinite;animation-direction:alternate}
.banner-right figure,.banner-right figure span{display:inline-block;width:550px;height:100%;border-radius:50%;text-align:center;margin:0;position:relative}
.banner-right figure:before{width:125%;height:125%;border:1px solid rgba(255,255,255,0.2)}
.banner-right figure:before,.banner-right figure:after{position:absolute;content:'';font-family:"font awesome 5 free";font-weight:900;border-radius:50%;top:50%;left:50%;transform:translate(-50%,-50%)}
.banner-right figure img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.banner-right figure:after{width:155%;height:155%;border:1px solid rgba(255,255,255,0.15)}
.banner-right figure span:before{width:185%;height:185%;border:1px solid rgba(255,255,255,0.15)}
.banner-right figure span:before,.banner-right figure span:after{position:absolute;content:'';font-family:"font awesome 5 free";font-weight:900;color:#fff;border-radius:50%;top:50%;left:50%;transform:translate(-50%,-50%)}
.banner-right figure span:after{width:220%;height:220%;border:1px solid rgba(255,255,255,0.10)}
@keyframes MoveUpDown {
0%{transform:translateY(0)}
100%{transform:translateY(30px)}
}
.home_slider .title{font-size:2rem;line-height:3.3rem;color:#000;text-transform: capitalize;}
.home_slider .title::selection{color:#6ac7ff;background:#fff;text-shadow:1px 0 3px #666}
.home_slider .title span{color:#000}
.home_slider .desc{color:#495057;font-size:1rem;padding-top:12px;position:relative;margin:36px 0}
/*.home_slider .desc:after{content:"";position:absolute;width:200px;height:1px;background:#fff;top:-10px;z-index:0;border-radius:25px;left:50%;transform:translateX(-50%)}*/
.home_slider .desc:before{content:"";background:#000;background-size:200% 100%;display:block;position:absolute;top:-11.5px;border-radius:30px;z-index:2;left:50%;transform:translateX(-50%);height:4px;width:100px;transition:box-shadow .3s ease-in-out 0;animation:BorderAnimation 3s linear infinite running}
.home_slider .desc:hover:before{animation-play-state:running}
.hero_slider .owl-dots{position:relative;bottom:40px}
#myVideo{position:absolute;right:0;bottom:0;min-width:100%;min-height:100%;z-index:-1}

.home_slider h2 span{font-weight:900}
@media (max-width: 991px) {
.banner-right{display:none}
.banner-left{text-align:center}
}
@media (min-width: 768px) {
	.home_slider .desc{color:#495057;font-size:1.25rem;padding-top:12px;position:relative;margin:36px 0}
	.home_slider .title{font-size:3rem;line-height:3.3rem;color:#000;text-transform: capitalize;}
}
@media (max-width: 480px) {
.home_slider{top:55%}
}
/*################### TYPING HEADING ###########################*/
.cd-words-wrapper{display:inline-block;position:relative;text-align:left}
.cd-words-wrapper b{display:inline-block;position:absolute;white-space:nowrap;left:0;top:0px}
.cd-words-wrapper b.is-visible{position:relative}
.no-js .cd-words-wrapper b{opacity:0}
.no-js .cd-words-wrapper b.is-visible{opacity:1}
.cd-headline.clip span{display:inline-block;}
.cd-headline.clip .cd-words-wrapper{vertical-align:top}
.cd-headline.clip .cd-words-wrapper::after{content:'';position:absolute;top:0px;right:-5px;width:2px;height:90%;background:rgba(255,255,255,0.4);}
.cd-headline.clip b{opacity:0; display: inline-block;color: #f44336;background: #fff;border-radius: 5px;overflow: hidden;padding: 0 4px;}
.cd-headline.clip b.is-visible{opacity:1}
/*################### OWL CAROUSEL ###########################*/
.owl-nav .owl-prev,.owl-nav .owl-next{width:40px;height:40px;background:rgba(255,255,255,.5)!important;font-size:20px!important;color:#333!important;box-shadow:2px 2px 6px rgba(0,0,0,.5);line-height:0!important;border-radius:50%!important}
.owl-nav .owl-next{right:100px!important;position:absolute;top:50%;transform: translateY(-50%);}
.owl-nav .owl-prev{position:absolute;top:50%;left:100px!important;transform: translateY(-50%);}
.owl-nav{margin-top:0}
.owl-nav .owl-next:focus,.owl-nav .owl-prev:focus{outline:none!important}

@media(max-width: 768px)
{
	.owl-nav{display: none;}
}

/*================================================
--------------------Our Services------------------
================================================*/
#our-services{background:url(../images/our-services.png);background-size:contain;background-repeat-y:no-repeat}
.demo-icon-feature{margin-top:10px;margin-bottom:30px;position:relative;overflow:hidden;padding:15px;background:#fafafa;border-radius:5px;height:200px}
.v-hidden{visibility:hidden;color:#6c757d;text-align:justify}
.demo-icon-feature:before{position:absolute;width:2px;height:0;transition:all .3s ease}
.demo-icon-feature .line{position:absolute;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background:0 0}
.demo-icon-feature .line:before,.demo-icon-feature .line:after{content:"";position:absolute;background:#000;bottom:0;right:0}
.demo-icon-feature .line:before{width:2px;height:0}
.demo-icon-feature .line:after{width:0;height:2px;transition:all .3s ease}
.demo-icon-feature .icon{display:inline-block;width:80px;border-radius:50%;box-shadow:-3px 11px 32px rgba(0,0,0,.08);text-align:center;transition:all .3s ease}
.demo-icon-feature .icon span{font-size:30px;line-height:110px;color:#333;transition:all .3s ease}
.demo-icon-feature .desc{color:#333;padding:40px 0 10px;font-size:18px}
.demo-icon-feature:before,.demo-icon-feature:after{position:absolute;transition:all .3s ease;content:"";background:#000}
.demo-icon-feature:before{width:2px;height:0;top:0;left:0}
.demo-icon-feature:after{width:0;height:2px;top:0;left:0}
.demo-icon-feature:hover{box-shadow:1px 3px 5px 0 rgba(173,173,173,.19),0 15px 25px rgba(212,212,212,.13);transform:translateY(-10px)!important}
.demo-icon-feature:hover:before{height:30px}
.demo-icon-feature:hover:after{width:30px}
.demo-icon-feature .line:hover:before{height:30px}
.demo-icon-feature .line:hover:after{width:30px}
.main-title h3:after{content:"";position:absolute;width:200px;height:2px;background:#052149;bottom:-15px;left:50%;transform:translateX(-50%)}
.main-title h3:before{content:"";background:#000;background-size:200% 100%;display:block;position:absolute;bottom:-16px;border-radius:30px;z-index:2;left:50%;transform:translateX(-50%);height:4px;width:100px;transition:box-shadow .3s ease-in-out 0;animation:BorderAnimation 3s linear infinite running}
.main-title h3{font-size:70px;font-weight:700;position:relative}
.main-title p{margin:50px 0 16px;color:#777;font-size:14px}
@media(max-width: 991px) {
.main-title h3{font-size:60px}
}
@media(max-width: 767px) {
.main-title h3{font-size:40px}
}

/*================================================
--------------------Why Choose Us-----------------
================================================*/
#why-choose-us{background:url(../images/why-choose-us.png);background-size:contain; background-repeat-y:no-repeat; }
.demo-feature{height:100%;background:#fafafa;padding:15px}
.demo-feature .svg-icon{height:120px;padding:10px}
.demo-feature .desc{padding-left:30px;background:#fafafa}
.demo-feature .desc h4{font-size:18px;margin-bottom:10px;color:#333}
.demo-feature .desc p{margin-bottom:0;font-size:14px;color:#777}


/*================================================
--------------------Footer----------------------
================================================*/
.footer-bg-demo .box{background:#0b2d5d;text-align:center;color:#fff;padding:25px;height:100%}
.help-you{padding-bottom:10px;border-bottom:1px solid rgba(255,255,255,.2)}
.help-you figure{display:inline-block;border-radius:50%;width:80px;height:82px;line-height:82px;position:relative;margin-bottom:0}
.help-you figure svg #path1,.help-you figure svg #path3{transition:all .5s ease}
.help-you figure:hover svg #path1,.help-you figure:hover svg #path3{fill:#fff!important}
.help-you figure:hover svg #path2{fill:#c96c21!important}
.help-you figure i{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:50px;color:#fff}
.footer-bg-demo .title{font-size:17px;color:#fff;margin-bottom:15px;text-transform:uppercase;display: flex;justify-content: space-between;}
.help-you .heading{font-size:24px;margin-top:5px;font-weight:600}
.footer-bg-demo .box .list{margin:20px 0}
.footer-bg-demo .box .list>:not(:last-child){margin-bottom:10px}
.footer-bg-demo a{color:#9eb2ca}
.footer-social div{margin-bottom:10px}
.footer-social a.fb{background-color:#3b5998}
.footer-social a.tw{background-color:#55acee}
.footer-social a.in{background-color:#3074bc}
.footer-social a.yt{background-color:#dc4f43}
.footer-social a:hover i{transform:rotate(12deg) scale(1.2);color:#fff}
.footer-bg-demo .box a{color:#9dd2f0}
.footer-social a{color:#fff;font-size:16px;height:35px;display:inline-block;width:35px;margin:0 1px;line-height:35px;text-align:center}
.footer-social a i{transition:all .3s ease-in-out;color:#fff}
.f-links{margin-bottom:25px}
.f-links>*{margin-bottom:10px}
.copyright{background:#041835;text-align:center;padding:20px 0}
.foot-wrap>:nth-child(2){padding:40px 15px}
.foot-sect{padding:15px 0 0;border-top:1px solid rgba(255,255,255,.1);margin:0}
.footer-language-wrap{text-align:center;padding:25px 0 0}
.footer-language-wrap .heading{font-size:17px;font-weight:600;margin-bottom:12px}
.footer-language{text-align:center;display:inline-block;font-size:15px}
.footer-language>li{display:inline-block;position:relative}
.footer-language>li .lang.active{font-weight:600;text-decoration:underline}
.footer-language>li .lang{display:inline-block;cursor:pointer;padding:0 7px}
.footer-language>li:not(:last-child):after{position:absolute;content:'|'}
.footer-language .othr-lang{position:relative}
.footer-language .othr-lang-title{display:inline-block;cursor:pointer;padding:0 7px;font-weight:700}
.footer-language .othr-lang-title.active i{transform:rotate(180deg)}
.footer-language .othr-lang .fas{font-size:12px;transition:all .2s ease-in-out}
.footer-language .othr-lang-menu{position:absolute;z-index:3;right:0;bottom:30px;color:#000;width:150px;background:#fff;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,.5);text-align:left}
.footer-language .othr-lang-menu .lang{display:block;padding:4px 13px}
.footer-language .othr-lang-menu .lang.active,.footer-language .othr-lang-menu .lang:hover{background:#eee;text-decoration:none}
.skiptranslate,.skiptranslate:hover{display:none!important;visibility:hidden!important}
.footer-bg-demo {background-color:#052149;color:#fff;outline: 5px solid #052149;}
@media(min-width: 576px)
{
	.footer-bg-demo .title .icon{display: none}
}
@media(max-width: 575px)
{
	.f-links{display: none;}
}
/*================================================
--------------------Our Pricing Plansr------------
================================================*/
.our-pricing-wrapper{padding-bottom:24px;background-color:#fff;border-radius:3px;box-shadow:0 7px 11px -4px rgba(0,23,62,0.2),0 0 1px 0 #a8b9d5}
#our-pricing-2 h2{font-weight:600;font-size:32px;line-height:1.25}
#our-pricing-2 .pro .price-head span{position:absolute;top:-12px;right:40px;background:#c850de;font-weight:600;padding:4px 8px;font-size:12px;letter-spacing:.4px;color:#fff;text-transform:uppercase;border-radius:3px;box-shadow:0 7px 11px -4px rgba(0,23,62,.2),0 0 1px 0 #a8b9d5}
#our-pricing-2 .free .price-head{background:#f5f8ff}
#our-pricing-2 .free .price-head .title{color:color: #002ca6}
#our-pricing-2 .essentials .price-head .title{color:#006631}
#our-pricing-2 .essentials .price-head{background:#e0ffef}
#our-pricing-2 .pro .price-head .title{color:#996b00}
#our-pricing-2 .pro .price-head{background:#fff7e5}
#our-pricing-2 .premier .price-head .title{color:#002ca6}
#our-pricing-2 .premier .price-head{background:#f5f8ff}
#our-pricing-2{padding:64px 30px}
.price-head{padding:32px 24px;font-size:14px;text-align:center;border-radius:3px 3px 0 0}
.price-head .title{font-weight:600;font-size:32px;line-height:1.25}
.price{padding:24px 24px 0;text-align:center}
.price .icon{height:100px}
.price h3{font-weight:600;font-size:20px;line-height:1.5}
.btn-primary{color:#fff;background-color:#3368fa;border-color:#3368fa}
.btn-secondary{color:#fff;background-color:#ff4752;border-color:#ff4752}
.btn-primary:hover{color:#fff;background-color:#002ca6;border-color:#002ca6}
/*.btn-secondary:hover{color:#fff;background-color:#002ca6;border-color:#002ca6}*/

.btn-full-width{width:100%}
.price-body-desc{padding:0 24px 14px}
.price-body-desc li{position:relative;min-height:48px;margin:10px 0 10px 40px;border-bottom:1px dashed #3368fa;display:flex;align-items:center}
.price-body-desc li:before{content:"\f00c";background:#e0ffef;font-family:'font awesome 5 free';font-weight:900;width:24px;font-size:9px;height:24px;line-height:24px;border-radius:50%;text-align:center;color:#23bf6e;position:absolute;top:50%;transform:translateY(-50%);left:-40px}
.price-body-desc li.disable:before{content:"\f00d";background:#ffeff5;color:#d82a68}
@media (max-width: 991px) {
#our-pricing-2 .row .col-lg-3{margin-bottom:25px}
}
.pricing-header{background-image:linear-gradient(to bottom,#ebf2ff,#dfe9fa);text-align:center;padding:64px 30px 0}
.pricing-header .heading-title{font-weight:600;font-size:48px;line-height:1.25;margin-bottom:8px}
.pricing-header .desc{margin-bottom:24px;font-size:20px;color:#4a6592}
.pricing-header p{margin-top:24px;margin-bottom:48px;font-family:Colfax-Medium,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#4a6592}
.arrow-link{font-family:Colfax-Medium,Helvetica,Arial,sans-serif;font-style:normal;font-weight:500;background:transparent;border:0;color:#3368fa;cursor:pointer;display:inline-block;font-size:14px;letter-spacing:.6px;padding:0;position:relative;text-decoration:none;text-transform:uppercase}
.arrow-link:before{background:#baccff;bottom:-2px;content:"";display:block;height:2px;position:absolute;width:100%}
.arrow-link:after{content:"\21E2";display:inline-block;margin-left:4px;vertical-align:middle}
.arrow-link:hover:before{animation:underliner 1s ease-out}
@keyframes underliner {
0%{width:100%}
50%{width:0}
100%{width:100%}
}
.pricing-header .col-lg-6 > a{display:block;color:#00173e;background-color:#fff;border-color:#3368fa;box-shadow:none;padding:16px;border-top:6px solid #8ba3ca;text-align:center;transition:color 0.3s,background-color 0.3s,border-color 0.3s,box-shadow .3s;cursor:pointer}
.pricing-header .col-lg-6 > a .title{font-family:Colfax-Bold,Helvetica,Arial,sans-serif;font-style:normal;font-weight:600;font-size:20px;line-height:1.5}
.pricing-header .col-lg-6 > a .desc{font-size:16px}
/*================================================
------------Frequently Asked Quesitons------------
================================================*/
.faq2 h2{font-style:normal;font-weight:600;font-size:32px;line-height:1.25;text-transform:capitalize;margin-bottom:16px}
.faq2 div{font-size:14px;line-height:1.5;letter-spacing:2px;color:#4a6592;text-transform:uppercase;margin-bottom:16px}
#faq{background:url(../images/faq.png);background-size:cover;margin:50px 0;padding:100px 0 0}
.faq{margin-bottom:50px}
.faq-header .icon{background:-webkit-linear-gradient(19deg,#ff8a00,#e52e71);background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent;padding:10px;text-align:center;line-height:10px;margin-right:10px}
.faq-header a:hover{text-decoration:none}
.faq-header a{cursor:pointer;position:relative;padding:24px;font-family:Colfax-Medium,Helvetica,Arial,sans-serif;font-size:20px;font-weight:500;line-height:normal;color:#3368fa;outline:none;display:block}
.faq-item{margin:16px 0;border:2px solid #c8d7ee;border-radius:3px}
.faq-item:hover{background-color:#f5f8ff;border-color:#002ca6}
.faq-body{font-size:18px;padding:0 24px 24px}
#faq,.faq{padding:64px 30px}

/*#################### VISITOR COUNTER###########################*/
.counterimg{position:fixed;bottom:0;z-index:2}
/*#################### FLOATING, MODAL, SCROLL TOP ###########################*/
.floating{font-size:14px;position:fixed;top:50%;left:-103px;transform:rotate(90deg);box-shadow:0 0 6px rgba(255,255,255,.6);opacity:1;background:#353637;color:#fff;z-index:2;text-transform:uppercase;border-top-left-radius:20px;border-top-right-radius:20px;cursor:pointer;transition:all .3s ease 0;padding:10px 20px;letter-spacing:2px}
.floating.active{opacity:1}
.modal-body{padding:0}
.modal-header{background:#fff;color:#333}
.modal-title{font-size:24px;text-align: center;}
.modal-footer{justify-content:center}
button.close{position: absolute;top: 6px;right: 15px}
.scrollTop{position:fixed;bottom:800px;right:25px;border-radius:5px;width:50px;height:50px;text-align:center;cursor:pointer;z-index:9;opacity:0;transition:all .3s ease;cursor:pointer}
.scrollTop:hover:after{top:40%}
.scrollTop.active{opacity:1;bottom:120px;z-index: 999;right: -20px;}
.scrollTop{background:url("../images/img.svg");height:80px;width:108px;background-size:contain;animation-name:MoveUpDown;animation-duration:3s;animation-iteration-count:infinite;animation-direction:alternate}
@media (max-width: 800px) {
.scrollTop{display:none}
}
/*#################### PRELOADER ###########################*/
.preloader{position:fixed;top:0;left:0;width:100%;height:100%;display:table;background:#fff;z-index:99999}
.preloader img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}

/*#################### HOVER EFFECTS ###########################*/


/*#################### SCROLLBAR CSS ###########################*/
/*::-webkit-scrollbar{width:15px;height:30px;transition: all .3s ease}
::-webkit-scrollbar-thumb{background: url(../images/background.svg), linear-gradient(293deg, #01DBB0 0%, #6E49D9 100%);background-blend-mode: overlay;border-radius:30px;box-shadow:inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}*/

/*#################### SIDE MENU SCROLLBAR CSS ###########################*/

/*#################### LOADER CSS ###########################*/
#loader{width:500px;background:none;position:absolute;text-align:center;left:calc(50% - 250px);top:calc(50% - 10px)}
#loader .square{display:inline-block;height:10px;width:10px;margin:10px;position:relative;box-shadow:0 0 20px rgba(0,0,0,.3);animation:bouncer cubic-bezier(.455,.03,.515,.955) .75s infinite alternate}
#loader .square:nth-child(5n+1){background:#0F9;animation-delay:0}
#loader .square:nth-child(5n+2){background:#0CF;animation-delay:calc(0s + (.1s * 1))}
#loader .square:nth-child(5n+3){background:#93F;animation-delay:calc(0s + (.1s * 2))}
#loader .square:nth-child(5n+4){background:#F66;animation-delay:calc(0s + (.1s * 3))}
#loader .square:nth-child(5n+5){background:#FFF35C;animation-delay:calc(0s + (.1s * 4))}
@keyframes bouncer {
to{transform:scale(1.75) translateY(-20px)}
}
/*#################### LOADER CSS end ###########################*/

/*service section*/
.service-section .service-item:hover{box-shadow:1px 3px 5px 0 rgba(173,173,173,.19),0 15px 25px rgba(212,212,212,.13)}
.service-section .service-item{transition:all 150ms linear;color:#261751;font-size:15px;font-weight:700;text-align:center;display:block;background:linear-gradient(to bottom,#ebf2ff,#dfe9fa);border-radius:2px;padding:30px}
.service-section .icon-wrapper{width:56px;height:56px;position:relative;transition:background-color 150ms linear;text-align:center;border-radius:10px;background-color:#ffeadc;max-width:55px;margin:auto;overflow:hidden}
.service-section .icon-wrapper img{max-height:100%;max-width:100%;margin:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.service-section .service-item p{transition:all 150ms linear;color:#261751;font-size:15px;font-weight:600;margin-bottom:0}





/*Designing service for everyone section*/
.card-content{padding:30px 30px 0;text-align:center;color:#000}
.m-bottom-3{margin-bottom:20px}
.is-size-24{font-size:24px}
.card-copy{max-width:336px;margin:0 auto 24px;font-size:18px}
.card-link .img-wrap{position:relative;height:350px;background:#f6f6f6}
.card-link .img-wrap img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);max-width:100%;max-height:100%}
.card-heading{font-weight:700}

/*we serve all industries section*/
.industries-list li{width: 16.6666%; text-align: center;}
.industries-list li a{font-weight: bold;color: #052149;text-transform: capitalize;font-size: 20px;}
.industries-list li a img{width:130px;height:130px;background:#fff;border-radius:50%;padding:10px;margin-bottom: 10px;transition: all .3s linear}
.industries-list li a:hover img{transform:scale(1.1);transition:all linear .2s;box-shadow: 1px 0 1px #ff8515;}

.industries-list {position: relative;}
.all-industries{background:#f5f8ff;overflow: hidden;}
.all-industries .heading{font-size:20px}
.all-industries .heading a{font-weight:700}
/*service page*/
.services{background:#f1fbfa;position:relative}
.section-title{margin:0;padding-bottom:30px;text-align:center}
.section-title h3{position:relative;font-size:40px;margin-bottom:40px;text-transform:uppercase;font-weight:700;line-height:42px;font-family:oswald,sans-serif}
.section-title h3 span{color:#043872;font-weight:400}
.section-title h3:after{content:'';background:#043872;height:2px;width:60px;position:absolute;bottom:-20px;left:50%;margin-left:-30px}
.services .icon img{width:40px;height:35px}
.services .col-*{margin: 15px 0}
.single-item{background:#fff;padding:40px 30px;position:relative;height: 100%; -webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;-ms-transition:all .3s;transition:all .3s;text-align:center;z-index:1;cursor:pointer}
.single-item:hover{-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.single-item:hover .icon{color:#222;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.single-item:hover .details h3 a{color:#2cabf5;text-decoration:none}
.single-item:hover .details p{color:#777}
.single-item .icon{font-size:34px;color:#2cabf5;text-align:center;margin-bottom:10px;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.single-item .details{text-align:center}
.single-item .details h3{font-size:24px!important;font-family:oswald,sans-serif;font-size:1.2rem;margin:0 0 .9em;color:#051429;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.single-item .details h3 a{color:#051429;font-weight:700}
.single-item .details p{font-size:14px;margin:0;min-height:130px}
.single-item .fig_caption::before,.single-item .fig_caption::after{position:absolute;top:0;right:0;bottom:0;left:0;content:'';opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;z-index:-1}
.single-item .fig_caption::before{border-top:2px solid #2cabf5;border-bottom:2px solid #2cabf5;-webkit-transform:scale(0,1);transform:scale(0,1)}
.single-item .fig_caption::after{border-right:2px solid #2cabf5;border-left:2px solid #2cabf5;-webkit-transform:scale(1,0);transform:scale(1,0)}
.single-item:hover .fig_caption::before,.single-item:hover .fig_caption::after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}


/*why-choose2 section*/
.why-choose2 .demo-feature figure{position:relative;height:100%}
.why-choose2 .demo-feature figure img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
/*about-section*/
.about-info{position:relative}
.about-info .section-title1 h2{font-size:24px;font-weight:600}
.section-title1 h2{position:relative;font-size:40px;text-transform:uppercase;margin-bottom:40px;line-height:42px;font-family:oswald,sans-serif}
.about-info .section-title1 h4{font-weight:600;font-size:20px;line-height:36px}
.section-title1 p{max-width:800px;margin:auto;line-height:23px}
.about-img{position:relative;height:100%}
.about-img figure img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.about-info .section-title1 h2:after{left:0;margin-left:0}
.section-title1 h2:after{content:'';background:#043872;height:2px;width:60px;position:absolute;bottom:-20px;left:50%;margin-left:-30px}
.about-description li{font-size:14px;margin-top:12px;position:relative;padding-left:28px}
.about-description li:before{content:"\f0a9";font-family:fontawesome;position:absolute;top:0;left:0;font-size:18px;color:#043872}

/*Quote section*/
.quick-quote{background:#052149;position:relative;display:flex;justify-content:center;align-items:center;padding:30px 80px}
.quick-quote h2{color:#fff;font-size:24px;font-family:oswald,sans-serif;text-transform:uppercase;margin-right:20px;text-shadow:0 0 1px rgba(0,0,0,.36)}

/*Quote Section*/
.get_qoute3{background:url(../images/web-design-varanasi-india.jpg) no-repeat;background-size:cover;background-attachment:fixed;background-position:0 0;height:100%;width:100%;position:relative;padding:60px 0}
.get_qoute3 h2{font-size:36px;font-weight:700;color:#fff}
.get_qoute3 h4{color:#fff}
.get_qoute3 p{padding:10px 0;color:#fff}
/*breadcrumb*/
.breadcrumb-section{background-color:#e9ecef}
.breadcrumb li{font-size:15px;font-weight:600;color:#fff}
.breadcrumb li a{color:#2cabf5}
/*contact page*/
.contact-item{background:#fff;padding:40px 30px;position:relative;margin:15px 0;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;-ms-transition:all .3s;transition:all .3s;text-align:center;z-index:999;box-shadow:2px 6px 29px -6px #e0e0e0}
.contact-item .fig_caption{min-height:180px}
.contact-item .fig_caption::before,.contact-item .fig_caption::after{position:absolute;top:0;right:0;bottom:0;left:0;content:'';opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s}
.contact-item .fig_caption::before{border-top:2px solid #2cabf5;border-bottom:2px solid #2cabf5;-webkit-transform:scale(0,1);transform:scale(0,1)}
.contact-item .icon{font-size:34px;color:#2cabf5;text-align:center;margin-bottom:10px;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.contact-item .details{text-align:center}
.contact-item .fig_caption::after{border-right:2px solid #2cabf5;border-left:2px solid #2cabf5;-webkit-transform:scale(1,0);transform:scale(1,0)}
.contact-item .details h3{font-size:24px!important;font-family:oswald,sans-serif;font-size:1.2rem;margin:0 0 .9em;color:#051429;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.contact-item .details h3:after{content:'';background:#222;height:2px;width:60px;position:absolute;bottom:-10px;left:50%;margin-left:-30px}
.xs-form .form-control{font-family:open sans,sans-serif;border:1px solid #ddd;border-radius:0;margin-bottom:25px;height:50px;padding:10px 20px;font-size:13px}


@media (min-width: 992px) and (max-width: 1252px)
{
	.section{padding: 60px 30px}
	.btn-2
	{
	   padding: 2px 10px;
	   font-size: 15px;
	}

	.navbar-brand img 
	{
    	height: 33px;
	}
	.navbar-light .navbar-nav .nav-link 
	{
    	padding: 10px 5px;
    	font-size: 14px;
	}
	.navbar-light .navbar-nav .nav-item:not(:last-child) .nav-link{margin-right:10px}
    

}
/**/
