/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');


.main-font{font-family: 'Roboto', sans-serif;}
.alt-font{font-family: 'Poppins', sans-serif;}


/* ===================================
    General
====================================== */

body {font-family: 'Roboto', sans-serif; font-size: 15px;color: #2b2b2b;font-weight:300;line-height: 26px;letter-spacing: 0.5px;overflow-x: hidden;-webkit-font-smoothing: antialiased;}
p{margin-bottom: 0;color: #6d6d6d;}
a {color:inherit;}
br{line-height: 15px}
::-webkit-scrollbar-track {background-color: #e9edf0;border-left: 1px solid #ededed;}
::-webkit-scrollbar {width: 7px;background-color: #385aef;}
::-webkit-scrollbar-thumb {background: #385aef;}
/*::-webkit-scrollbar-button{background: #fff;height: 10px}*/
a:hover, a:active {color: #385aef;text-decoration: none;}
a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;text-decoration: none}
.form-control::placeholder {color: #c2c2c2;opacity: 1;}  .form-control:-ms-input-placeholder {color: #c2c2c2;}  .form-control::-ms-input-placeholder {color: #c2c2c2;}
a, *::before, *::after, img, span, input, button, .navbar, .fixedmenu, .tp-bullet, .owl-dot, .owl-prev, .owl-next {transition: ease-in-out 0.2s;-webkit-transition: ease-in-out 0.2s;-moz-transition: ease-in-out 0.2s;-ms-transition: ease-in-out 0.2s;-o-transition: ease-in-out 0.2s;}
ul{list-style: none;padding: 0; margin: 0;}
:focus{outline: none;}
img {max-width: 100%}
section,.section-padding {position: relative;padding: 7.5rem 0;overflow: hidden;}
.section-top-margin{margin-top: 7.5rem;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1; font-family: 'Poppins', sans-serif; margin-bottom: 0;}
.btn.focus, .btn:focus{box-shadow: none;}

/* transition none */

.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}


/* opacity */
.opacity-full{opacity: 1;}
.opacity-3{opacity: .3;}
.opacity-4{opacity: .4;}
.opacity-5{opacity: .5;}
.opacity-6{opacity: .6;}
.opacity-7{opacity: .7;}
.opacity-8{opacity: .8;}
.opacity-9{opacity: .9;}

/*font-weight*/
.font-weight-100{font-weight: 100;}
.font-weight-300{font-weight: 300;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}

/* z index */
.z-index-1{z-index: 1;}
.z-index-2{z-index: 2;}
.z-index-2{z-index: 3;}
.z-index-2{z-index: 4;}
.z-index-2{z-index: 5;}


/* overlay */
.bg-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* backround color */

.bg-black{background: #000000;}
.bg-dark {background-color: #1d1d21 !important;}
.bg-blue {background-color: #00bcd4;}

.gradient-bg1{
    background: #3264f5;
    background: -moz-linear-gradient(left, #3264f5 2%, #7202bb 82%);
    background: -webkit-linear-gradient(left, #3264f5 2%,#7202bb 82%);
    background: linear-gradient(to right, #3264f5 2%,#7202bb 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3264f5', endColorstr='#7202bb',GradientType=1 );
}

/* text-color */
.main-color{color: #3264f5;}
.alt-color{color: #7202bb;}
.third-color{color: #00bcd4;}

.gradient-text1{
    background: #3264f5;
    background: -moz-linear-gradient(left, #3264f5 2%, #7202bb 82%);
    background: -webkit-linear-gradient(left, #3264f5 2%,#7202bb 82%);
    background: linear-gradient(to right, #3264f5 2%,#7202bb 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3264f5', endColorstr='#7202bb',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* button */
.btn {display:inline-block; font-size: 17px; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform:capitalize; width: auto;font-family: 'Poppins', sans-serif; font-weight: 500; transition-duration: 0.3s; transition: all 0.3s !important; transition-timing-function: ease-in-out}
/* button size */
.btn.btn-small {font-size:12px; padding: 4px 24px;}
.btn.btn-medium {font-size:12px; padding: 6px 25px;}
.btn.btn-large {font-size:14px; padding: 9px 34px; line-height: 25px}
.btn.btn-rounded {border-radius: 50px;}

/* button background */
.btn.btn-white {background:#ffffff; border-color: #ffffff; color: #585858}
.btn.btn-white:hover, .btn.btn-white:focus {background: transparent !important; border-color: #ffffff; color:  #ffffff !important}
.btn.btn-transparent-white {background:transparent; border-color: #ffffff; color:  #ffffff}
.btn.btn-transparent-white:hover, .btn.btn-transparent-white:focus {background: #ffffff !important; color: #585858 !important}
.btn.btn-transparent-black {background:transparent; border-color: #2b2b2b; color: #2b2b2b}
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {background: #2b2b2b !important; color: #ffffff !important}
.btn.btn-black {background: #2b2b2b; border-color: #2b2b2b; color: #ffffff}
.btn.btn-black:hover, .btn.btn-black:focus {background: transparent !important; border-color: #2b2b2b; color: #2b2b2b !important}
.btn.btn-blue {background: #00bcd4; border-color: #00bcd4; color: #ffffff}
.btn.btn-blue:hover, .btn.btn-blue:focus {background: transparent !important; border-color: #00bcd4; color: #00bcd4 !important}
.btn.btn-gradient{color: #ffffff; flex: 1 1 auto;transition: 0.5s;background-size: 200% auto;background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);}
.btn.btn-gradient:hover{background-position: right center;}
.btn.btn-hvr-white:hover, .btn.btn-hvr-white:focus {background: #ffffff !important; border-color: #ffffff; color: #585858 !important}


.navbar-top-default{
    position: absolute;
    /*top: 0;*/
    z-index: 99;
    overflow: hidden;
    height: 90px;
    width: 100%;
    transition: all .1s ease;
}

.header-appear {
    height: 92px;
    position: fixed;
    z-index: 999;
    top: 0;
    background: #ffffff;
    animation-name: animationFade;
    animation-duration: 1s;
    animation-fill-mode: both;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
/* animation */
@keyframes animationFade {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.navbar-gradient{
    background: #3264f5;
    background: linear-gradient(to right, #7202bb 2%, #3264f5 82%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3264f5', endColorstr='#7202bb',GradientType=1 );*/

}


.nav-icon .navbar-nav {
    position: relative;
    /*display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;*/
}

.menu-line {
    position: absolute;
    top: -20px;
    font-size: 20px;
    color: #ffffff;
    left: 0;
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    pointer-events: none;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}
.nav-icon .navbar-nav .nav-link:nth-child(1).active ~ .menu-line{transform:translate3d(0,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(2).active ~ .menu-line{transform:translate3d(100%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(3).active ~ .menu-line{transform:translate3d(200%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(4).active ~ .menu-line{transform:translate3d(300%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(5).active ~ .menu-line{transform:translate3d(400%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(6).active ~ .menu-line{transform:translate3d(500%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(7).active ~ .menu-line{transform:translate3d(600%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(1):hover ~ .menu-line{transform:translate3d(0,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(2):hover ~ .menu-line{transform:translate3d(100%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(3):hover ~ .menu-line{transform:translate3d(200%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(4):hover ~ .menu-line{transform:translate3d(300%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(5):hover ~ .menu-line{transform:translate3d(400%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(6):hover ~ .menu-line{transform:translate3d(500%,0,0)}
.nav-icon .navbar-nav .nav-link:nth-child(7):hover ~ .menu-line{transform:translate3d(600%,0,0)}



/* ===================================
    Cursor
====================================== */


/* Cursor */

#aimated-cursor {
    position: absolute;
    left: 0;
    display: inline-block;
    top: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 10000;
    transition: opacity 0.2s ease-in-out 0.5s;

}

.cursor-light:hover ~ #aimated-cursor{
    display: inline-block;
    
}


#cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    box-sizing: border-box;
}

/*#cursor:before {
    font-family: FontAwesome;
    content: "\f053";
    font-size: 6px;
    width: 4px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    position: absolute;
    left: -12px;
    top: 9px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
#hold-event {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    background: rgba(255,255,255,0);
}
#cursor-loader {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-radius: 50px;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-9px, -9px) rotate(0deg);
    animation: rotating 0.8s ease-in-out infinite;
    -webkit-transition: opacity 0s ease-in-out 0s;
    transition: opacity 0s ease-in-out 0s;
}
#cursor:after {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 6px;
    width: 4px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    position: absolute;
    right: -10px;
    top: 9px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}*/

/*@keyframes rotating {
    0% {
        transform:  translate(-7px, -7px) rotate(0deg);
    }

    95% {
        transform:  translate(-7px, -7px) rotate(350deg);
    }

    100% {
        transform:  translate(-7px, -7px) rotate(360deg);
    }
}
*/


/*----------------------------------------Top Addon----------------------------------------*/
.top-addon{width:100%;padding:10px}
.top-addon a{text-decoration:none;}
.top-addon .top-links > li{padding-right:10px;font-size:14px;line-height:14px}
.top-addon .top-links > li:not(:last-child):after{content:"|";padding-left:5px}
@media(max-width: 991px){
.top-addon .top-right{text-align: center!important;}
}
@media (max-width: 320px) {
.top-addon .top-links > li{margin-bottom:0;font-size:13px;line-height:-2}
}
/*----------------------------------------Top Addon----------------------------------------*/
.top-addon{background:rgb(94, 33, 205);border-bottom:1px solid rgba(255,255,255,0.2);}
.top-addon a{color:#fff}
.top-addon .top-links > li:not(:last-child):after{color:rgba(255,255,255,0.5);}
/*----------------------------------------Top Addon end----------------------------------------*/
/*-----------------language converter-----------------*/
.language_converter .caret {border-top: 4px dashed;border-top: 4px solid;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.language_dropdown{background:#fff; border: 1px solid rgba(0,0,0,.15)}
.language_dropdown li a{color: #fff}
.language_dropdown li a:hover {background:#5530d6;}
.language_dropdown li:not(:last-child) a {border-bottom: 1px solid #eee;}
.language_converter .flag {border:1px solid #ccc;}
/*-----------------currency converter-----------------*/
.currency-converter .form-control[type=submit] {background:#fe0000; color:#fff;}
.currency-converter .form-control[type=submit]:hover {background:#fecd06;color: #333}
.fluid-caption .title:after {background: #e41d61;}
/*-----------------Our Video-----------------*/
#ourVideo .modal-footer button{background: #fe0000;border:none;}

/*-----------------language converter-----------------*/
.language_converter{display:inline-block;}
.language_converter .dropdown2{position: relative;}
.language-toggle{position:relative; cursor: pointer;}
.language-toggle:active, .language-toggle:focus{box-shadow:none!important;outline:none!important}
.language_dropdown{margin-top:0;padding:0;right:-20px;left:0; top:28px; position: absolute; width: 170px; border-radius: 4px;z-index: 1000; text-align: left; display: none; list-style: none;}
.language_dropdown li a{font-size:14px;padding:10px; display: block;}
.language_converter .caret {display: inline-block;width: 0;height: 0; margin-left: 2px;vertical-align: middle;}
.language_dropdown{box-shadow: 0 6px 12px rgba(0,0,0,0.2)}
.skiptranslate,.skiptranslate:hover{display:none!important;visibility: hidden;}
@media (max-width: 991px){
.language_dropdown{right: 240px;}
}
@media (max-width: 480px) {
.language_dropdown{right:-10px;top:25px}
}
@media (max-width: 320px) {
.language_dropdown{right:-10px;top:15px}
.language_dropdown li a {padding: 15px}
}
/*-----------------currency converter-----------------*/
.currency-converter .form-control.submit_type_input{font-size:18px;margin-bottom:10px}
.currency-converter .number_type_input{text-align:left!important}
.currency-converter .page_header,.currency-converter #currency_converter_menu_links,.currency-converter .date_calc_rate{display:none!important}
.currency-converter .form_under_info{font-weight:600}
.currency-converter #currency_converter_menu_links a,.currency-converter .rate_calc_result{height:0;overflow:hidden}
.currency-converter .rate_calc_result *{display:none}
.currency-converter .date_calc_rate ~ br{display:none}
.currency-converter #currency_converter_menu_links a{display:none!important}
.currency-converter .form-control[type=submit] {cursor: pointer;}
.currency-converter .modal-dialog{margin: auto}
.currency-converter .form-control[type=submit] {cursor: pointer;}
@media (max-width: 375px){
.currency-converter .modal-dialog{max-width: 310px!important}
}

/*-----------------Our Video-----------------*/
#ourVideo .modal-footer button{background: #fe0000;border:none;}
/*-----------------CommonForm-----------------*/
.form-control:focus{box-shadow: none;}
.form-control{font-size: 14px}
/*-----------------CommonForm-----------------*/
.form-control:focus{border-color: #ddd}


/*curve*/
.section1{padding:20px;height:200px;width:100%;background:#cf2b44}
.content{height:60vh;background:#111;position:relative}
.curve-wrapper{position:absolute;height:calc(100% - 200px);width:100%}
.curve-wrapper .curve{z-index:2;position:absolute;bottom:-10px;height:10px;width:100%;transform-origin:top;transition:.5s}
.curve-wrapper .curve:before{content:"";background:url(../images/curve.png);width:100%;height:100%}
/*.curve-wrapper .curve img{width:100%;height:100%}*/
                
/*hover-effect*/
.hover-effect{position:relative;overflow:hidden}
.hover-effect::before{right:0;opacity:1;top:0}
.hover-effect::before,.hover-effect::after{content:"";background:#fff;height:0;width:0;z-index:1;position:absolute;-webkit-transition-duration:1.3s;-o-transition-duration:1.3s;transition-duration:1.3s}
.hover-effect::after{bottom:0;opacity:.7;left:0}
.hover-effect:hover::after,.hover-effect:hover::before{height:100%;opacity:0;width:100%}