/*----------------------------------------main wrapper----------------------------------------*/
.main-bg{padding: 0;}
@media (max-width: 767px) {
.main-bg{max-width:100%;margin:0;}
}
/*----------------------------------------Body----------------------------------------*/
body{top: 0 !important}
/*----------------------------------------reset----------------------------------------*/
*{font-family:"Arial Regular";box-sizing: border-box;}
a, a:hover {text-decoration: none;}
*:focus {box-shadow: none !important}
.btn:focus, button:focus, input:focus, textarea:focus, select:focus {box-shadow: none !important; outline: none;}
.btn{padding: 6px 20px;border: none;border-radius:2px;}
.body-content{padding: 15px 15px 0 15px}
.speacial-font{font-family: "Monotype Corsiva";}
.section {margin-bottom: 15px;}
.content{padding: 15px;}
.heading .title{font-size: 33px}
.heading-title .title{font-size:19px;padding:14px;margin-bottom: 0}
@media (max-width: 575px){
.heading .title{font-size: 29px}
}
/*----------------------------------------Top Addon----------------------------------------*/
.top-addon{width:100%;padding:10px}
.top-addon a{text-decoration:none;}
.top-addon .top-links > li{padding-right:10px;font-size:14px;line-height:14px}
.top-addon .top-links > li:not(:last-child):after{content:"|";padding-left:5px}
@media(max-width: 991px){
.top-addon .top-right{text-align: center!important;}
}
@media (max-width: 320px) {
.top-addon .top-links > li{margin-bottom:0;font-size:13px;line-height:-2}
}
/*----------------------------------------top-link----------------------------------------*/
.logo-section{padding:15px}
.logo-section .logo{width:350px; height: 80px; position: relative;}
.logo img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 0;transform: translate(0,-50%);}
.logo-section-right .call-us-icon{border-radius:5px;margin-right:10px;margin-left:10px;padding:6px 12px;text-align:center}
.call-us span{font-size:17px;}
.call-us a{font-size:19px;text-decoration:none}
@media (max-width: 991px){
.logo-section .logo{width: 300px}
}
@media (max-width: 767px) {
.call-us{display:none!important}

}
@media (max-width: 575px){
.logo-section .logo{width: 250px;height: 50px}
}
@media (max-width: 480px) {
	.logo-section .logo{width: 200px}
}
@media (max-width: 414px) {
.logo-section .logo{width: 160px}
.logo-section-right .enquiry .btn{padding:2px 15px}
.logo-section-right .enquiry .btn a{font-size:14px}
.logo-section-right .call-us-icon .fa{line-height:32px;font-size:21px}
}
@media(max-width: 375px) {
.logo-section .logo{width: 135px}
}
@media (max-width: 320px){
.logo-section .logo{width: 128px;}
.logo-section-right .btn{padding: 3px 6px}
.logo-section-right .call-us-icon{padding: 3px 6px}
}
/*----------------------------------------sticky header position----------------------------------------*/
.sticky.is-sticky{position:fixed;left:0;right:0;top:0;z-index:1000;padding:15px;margin:auto;width:1140px;box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5)}
@media (max-width: 1199px) {
.sticky.is-sticky{width:960px}
}
@media (max-width: 991px) {
.sticky.is-sticky{width:720px}
}
@media (max-width: 767px) {
.sticky.is-sticky{width:100%}
}
/*----------------------------------------top menu----------------------------------------*/
.menu-area{padding: 0 15px;word-break: break-word}
.menu-area .dropdown-toggle{white-space: inherit;}
.navbar-light .navbar-toggler{border: none}
.menu-area button:focus{outline: 0}
.dropdown-menu{padding:0;margin:0;border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{font-size:17px;text-transform:capitalize;padding:11px 15px;display: block !important;}
.mainmenu .collapse ul li > ul li a{font-size: 15px;word-break: break-word;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{text-decoration: none;}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{box-shadow: -5px 5px 10px rgba(0,0,0,0.2)!important;}
.mainmenu .collapse ul ul li:hover> ul{left:99%}
@media (max-width: 1199px){
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{font-size:16px;padding:11px 11px;}
}
@media (max-width: 991px){
.mainmenu .collapse ul ul li{padding-left: 15px}
}
@media (max-width: 991px) {
.mainmenu .collapse ul ul{left:13px!important}
.mainmenu .collapse ul ul,.mainmenu .collapse ul ul.dropdown-menu{box-shadow:-5px 5px 10px rgba(0,0,0,0.2)!important}
.mainmenu .collapse ul ul li:hover> ul{left:99%!important}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{font-weight: 600;}
}
/******************************Drop-down menu work on hover**********************************/
.mainmenu{margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 992px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}
}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:11px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}
/*----------------------------------------Main----------------------------------------*/
@media (max-width: 320px){
.main .col-lg-3{display: none;}
}
/*----------------------------------------left Menu----------------------------------------*/
.left-side{padding-left: 15px}
.prod-menu{word-break: break-word;margin-bottom: 15px;}
.prod-menu .content{padding: 0}
.prod-menu .nav .nav-item .nav-link{transition: .5s;}
.prod-menu .nav .nav-item .nav-link:hover{padding-left: 15px;}
.prod-menu .dropdown-toggle{white-space: inherit;}
.prod-menu .title{font-size:19px;padding:10px 15px;position:relative}
.prod-menu .title:before{content:"";position:absolute;top:0;left:-16px;height:100%;padding:10px 8px;}
.prod-menu .dropdown-menu{left:100%;width:240px;padding:0}
.prod-menu .nav-link:hover{border-radius:2px}
.prod-menu .nav-link{position:relative;padding: 15px 10px;}
.prod-menu .dropdown-menu{left:-2px!important;box-shadow: -5px 5px 10px rgba(0,0,0,0.2)!important}
.prod-menu .title-icon{padding-right:15px}
.quick-contact .title-icon{padding-right:8px}
.quick-contact .title{font-size:19px;padding:10px 15px;}
.quick-contact ul li a{text-decoration: none;}
.quick-contact ul{list-style-type: none;padding: 0;word-break: break-word;margin-bottom: 0}
.quick-contact ul li{position:relative;padding:10px 0 10px 25px}
.quick-contact ul li:last-child{border:none;}
.quick-contact ul li:before{font-family: "font awesome 5 free"; font-weight: 600; position: absolute;left: 0;}
.quick-contact ul .name:before{content: "\f007"}
.quick-contact ul .address:before{content: "\f3c5"}
.quick-contact ul .mail:before{content: "\f0e0"}
.quick-contact ul .phone:before{content: "\f095"}
.dropright .dropdown-toggle::after{position:absolute!important;right:10px!important;top:20px}
@media (max-width: 991px) {
.prod-menu,.quick-contact{display:none}
}
/*----------------------------------------main slider----------------------------------------*/
.main-slider .carousel-control-next-icon, .main-slider .carousel-control-prev-icon{position: relative;height: 16px;width: 16px}
.main-slider .carousel-control-next-icon:before,.main-slider .carousel-control-prev-icon:before{content:"";position:absolute;height:100%;width:100%;top:-12px;left:-12px;padding:21px;border-radius:50%;z-index:-1}
.main-slider .carousel-item{position:relative}
.main-slider .carousel-item img{width:100%;height:100%;}
@media (max-width: 767px) {
.main-slider .carousel-control-next-icon:before,.main-slider .carousel-control-prev-icon:before{top:-10px;left:-10px;padding:16px}
.main-slider .carousel-control-next-icon,.main-slider .carousel-control-prev-icon{height:12px;width:12px}
}
/*----------------------------------------welcome----------------------------------------*/
.welcomeSection{padding:15px;}
.welcomeSection .col-lg-4 figure{width:100%;height:265px;position:relative}
.welcomeSection .col-lg-4 figure img{max-width:100%;max-height:100%;position:absolute;top:0;left:50%;transform:translate(-50%,0%)}
@media(max-width: 991px) {
.welcomeSection .col-lg-4 figure{height:219px;margin:20px 0 0}
}
@media (max-width: 320px) {
.welcomeSection .col-lg-4 figure{height:210px;margin:10px 0 0}
}
/*----------------------------------------featured products----------------------------------------*/
.featured-products .item figure:before{content:"";height:100%;width:100%;position:absolute;display: none;}
.featured-products .item figure:hover:before{z-index: 1;display: block;}
.featured-products .item .prod-detail{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: inline-block;text-decoration: none;opacity: 0;z-index: 2;text-align: center;}
.featured-products .item .prod-detail:hover{box-shadow: -2px -2px 3px rgba(255,255,255,1), 2px 2px 3px rgba(0,0,0,0.1);padding:6px 8px;}
.featured-products .item:hover .prod-detail{opacity: 1;}
.featured-products .item figure img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.featured-products .owl-nav{display: block!important;}
.featured-products figure{height: 252px!important;}
.featured-products .owl-stage-outer{height:292px!important}
.featured-products .pname{padding:10px;text-align:center;z-index:2;position:absolute;text-align:center;display:inline-block;bottom:-40px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.featured-products .item{text-align: center;}
.featured-products .item .co-name{font-size: 14px;}
.featured-products .item figure{margin: 0;}
.featured-products .content span{font-size:26px;position:relative;text-align:center;line-height:27px;font-weight:600}
.featured-products .owl-stage{display: flex;justify-content: center;}
.owl-stage-outer{height: 100%!important;}
.owl-carousel .owl-item img.owl-lazy{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.owl-carousel .owl-item img{width: inherit!important;}
.owl-dots{display:none}
.owl-nav button{position:absolute;top:50%;margin:0;transition:all .3s ease-in-out}
.owl-nav button.owl-prev{left:0}
.owl-nav button.owl-next{right:0}
.owl-dots{text-align:center;padding-top:15px}
.owl-dots button.owl-dot{width:15px;height:15px;border-radius:50%;display:inline-block;margin:0 3px}
.owl-dots button.owl-dot:focus{outline:none}
.owl-nav button{position:absolute;top:50%;transform:translateY(-50%);}
.owl-nav button:focus{outline:none}
.owl-nav{position:absolute;top:-41px;right:30px}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev{border-radius:50%;width:30px;height:30px}
.owl-carousel .owl-nav button.owl-next{right:-30px}
.owl-carousel .owl-nav button.owl-prev{left:-40px}
.owl-carousel .owl-nav button.owl-prev{left:-40px}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev{width:30px;height:30px}
@media(max-width: 1199px){
.featured-products .item figure{box-shadow: -2px -2px 4px rgba(255,255,255,1), 2px 2px 4px rgba(0,0,0,0.1)}
}
/*----------------------------------------Brand Section----------------------------------------*/
.brand-section figure img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.brand-section .owl-nav{display: block!important;}
.brand-section figure{border-radius:5px;overflow: hidden;position: relative;height: 96px!important;margin: 0}
.brand-section figure img{max-height: 100%;max-width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.brand-section .content span{font-size:26px;position:relative;text-align:center;line-height:27px;font-weight:600}
@media (max-width: 480px) {
.brand-section .heading-title .title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:210px}
}
/*----------------------------------------footer----------------------------------------*/
.footer .title .icon{display: none;}




.footer ul{list-style-type: none;padding: 0}
.footer a:hover{text-decoration: none;}
.footer-products li{display: inline-block;margin-right: 15px;}
.footer-products li:hover a figure img{transform: translate(-50%,-50%)scale(1.1)!important;}
.footer-products li a figure{width: 72px;height: 72px;position: relative;border-radius: 5px;margin-bottom: 0;overflow: hidden;}
.footer-products li a figure img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);transition: 0.5s}
.footer-products li a .font-eye{display: block;position: relative;}
.footer-products li a .font-eye span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.footer .title{font-size: 21px;margin-bottom: 10px;}
.footer-quick-links {padding-left: 20px;}
.footer-quick-links li{line-height: 31px;font-size: 14px;padding-left: 25px;}
.footer-quick-links li:before{content: "\f105";font-family: "font awesome 5 free"; font-weight: 600;position: absolute;left: 15px}
.footer-contact li{line-height: 31px;font-size: 14px;padding-left: 25px;}
.footer-contact li:before{content:"";font-family: "font awesome 5 free"; font-weight: 600;position: absolute;left: 15px;}
.footer-contact {padding-left: 30px;}
.footer-contact .name:before{content: "\f007"}
.footer-contact .address:before{content: "\f3c5"}
.footer-contact .email:before{content: "\f0e0"}
.footer-contact .phone:before{content: "\f095"}
.social-icons li{display: inline-block;border-radius: 50%;text-align: center;margin-right: 10px;transition: 0.5s;}
.social-icons li:last-child{margin-right: 0}
.social-icons li a .fa-common{padding:10px;width:40px;height:40px;transition:0.5s;line-height:20px;font-size:18px}
.social-icons li:hover a .fa-common{transform: scale(1.1);}
.copyrt{padding: 15px 0;}
.copyrt p, .copyrt p a {font-size: 14px;}
@media (max-width: 991px) {
.footer-quick-links li:before, .footer-contact li:before{left: 0}
.copyrt .col-lg-4{justify-content: center!important;display: flex;margin: 10px 0;}
.social-icons li a .fa-common{padding:0;width:30px;height:30px;line-height:2;font-size:15px;text-align:center;vertical-align:middle}
.footer-quick-links,.footer-products,.footer-contact{position:relative}
.footer .title{font-size:17px}
}
@media(max-width: 767px){
.footer .title .icon{position:absolute;right:15px;top:6px;display:block}
.footer ul{display:none}
}
/*-----------------language converter-----------------*/
.language_converter{display:inline-block;}
.language_converter .dropdown2{position: relative;}
.language-toggle{position:relative; cursor: pointer;}
.language-toggle:active, .language-toggle:focus{box-shadow:none!important;outline:none!important}
.language_dropdown{margin-top:0;padding:0;right:-20px;left:auto; top:28px; position: absolute; width: 170px; border-radius: 4px;z-index: 3; text-align: left; display: none; list-style: none;}
.language_dropdown li a{font-size:14px;padding:10px; display: block;}
.language_converter .caret {display: inline-block;width: 0;height: 0; margin-left: 2px;vertical-align: middle;}
.language_dropdown{box-shadow: 0 6px 12px rgba(0,0,0,0.2)}
.skiptranslate,.skiptranslate:hover{display:none!important;visibility: hidden;}
@media (max-width: 991px){
.language_dropdown{right: 240px;}
}
@media (max-width: 480px) {
.language_dropdown{right:-10px;top:25px}
}
@media (max-width: 320px) {
.language_dropdown{right:-10px;top:15px}
.language_dropdown li a {padding: 15px}
}
/*-----------------currency converter-----------------*/
.currency-converter .form-control.submit_type_input{font-size:18px;margin-bottom:10px}
.currency-converter .number_type_input{text-align:left!important}
.currency-converter .page_header,.currency-converter #currency_converter_menu_links,.currency-converter .date_calc_rate{display:none!important}
.currency-converter .form_under_info{font-weight:600}
.currency-converter #currency_converter_menu_links a,.currency-converter .rate_calc_result{height:0;overflow:hidden}
.currency-converter .rate_calc_result *{display:none}
.currency-converter .date_calc_rate ~ br{display:none}
.currency-converter #currency_converter_menu_links a{display:none!important}
.currency-converter .form-control[type=submit] {cursor: pointer;}
.currency-converter .modal-dialog{margin: auto}
.currency-converter .form-control[type=submit] {cursor: pointer;}
@media (max-width: 375px){
.currency-converter .modal-dialog{max-width: 310px!important}
}
/*-----------------postRequirment-----------------*/
#postRequirement .modal-title{font-weight: 400;}
/*-----------------postRequirment2-----------------*/
#postRequirement2{padding-right: 0}
#postRequirement2 .modal{padding-right: 0}
#postRequirement2 .modal-ls{width: 390px}
#postRequirement2 .modal-rs{flex: 1;padding: 15px}
#postRequirement2 .modal-rs .modal-body{padding: 0}
#postRequirement2 .modal-rs .heading{font-size: 20px;text-align: center;margin-bottom: 15px;}
#postRequirement2 .modal-rs .close{position: absolute;top: 0;right: 10px;padding: 10px;font-size: 40px;}
#postRequirement2 .modal-ls .pname{font-size:20px;padding:0 15px 15px 0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
#postRequirement2 .modal-ls .bg{width: 100%;height: 100%;padding: 15px}
#postRequirement2 .modal-ls figure{position: relative;height: 350px;background: #f2f2f2;}
#postRequirement2 .modal-ls figure img{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);max-width: 100%;max-height: 100%}
#postRequirement2 .modal-dialog{min-width: 300px;max-width: 900px}
@media (max-width: 767px){
#postRequirement2 .modal-ls{display: none}
}
/*-----------------Floating-----------------*/
.floating{position:fixed;top:50%;transform:translateY(-50%);right:0;width:40px;height:205px;border-radius:7px 0 0 7px;z-index:99;transition:all .5s; font-family:arial !important; font-size:18px}
.floating.active{right:0}
.floating .floating-item{white-space:nowrap;transform:rotate(-90deg);display:block;width:199px;height:194px;padding:5px;}
.floating .floating-item {text-decoration: none;}
@media (max-width: 800px){
.floating{display: none;}
}
/*-----------------ScrollTop-----------------*/
.scrollTop{position:fixed;bottom:25px;right:25px;border-radius:5px;width:50px;height:50px;text-align:center;cursor:pointer;z-index:9;opacity:0;transition:all .3s;cursor:pointer}
.scrollTop:after{position:absolute;content:'\f30c';font-family:'Font Awesome 5 Free';font-weight:600;top:50%;left:50%;transform:translate(-50%,-50%);transition:all .3s}
.scrollTop:hover:after{top:40%}
.scrollTop.active{opacity:1}
@media (max-width: 800px){
.scrollTop{display: none;}
}
/*-----------------CommonForm-----------------*/
.form-control:focus{box-shadow: none;}
.form-control{font-size: 14px}
/*-----------------About Us-----------------*/
.about-us-img{width:100%;height:265px;position: relative;}
.about-us-img figure img{max-width:100%;max-height:100%;position:absolute;top:0;left:50%;transform:translate(-50%,0%)}
.about-us p{font-size: 16px;}
.about h1,.about h2,.about h3,.about h4,.about h5,.about h6{font-size:29px;position:relative;text-shadow:2px 2px 2px rgba(0,0,0,0.05);font-family: "Monotype Corsiva";margin-top: 40px;}
.about-us h1:before,.about-us h2:before,.about-us h3:before,.about-us h4:before,.about-us h5:before,.about-us h6:before{content:"";height:2px;width:70px;position:absolute;top:-10px}
.about-us ol, .about-us ul{list-style-type:none}
.about-us ol li:before, .about-us ul li:before{content:"\f28d";position:absolute;left:40px;font-family:"font awesome 5 free";font-weight:600;}
.about-us table{width:100%;}
.about-us table td{padding:10px;border-collapse:collapse;width: 50%}
.about-us h2:before{content:"";height:2px;width:70px;position:absolute;top:-10px;}
.table .title{font-size:29px;font-weight:600;position:relative;text-shadow:2px 2px 2px rgba(0,0,0,0.05)}
@media(max-width: 767px) {
.about-us-img{height:185px}
.about h1,.about h2,.about h3,.about h4,.about h5,.about h6{font-size:22px;}
}
@media (max-width: 480px){
.about-us table td{padding:4px;}
}
/*-----------------Product Page-----------------*/
.product-wrapper .item:before{content:"";height:100%;width:100%;position:absolute;display: none;}
.product-wrapper .item:hover:before{z-index: 1;display: block;}
.product-wrapper .item .prod-detail{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: inline-block;text-decoration: none;opacity: 0;z-index: 2;text-align: center;padding:6px 8px;}
.product-wrapper .item:hover .prod-detail{opacity: 1;}
.product-wrapper .item figure img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.product-wrapper .owl-nav{display: block!important;}
.product-wrapper figure{border-radius:5px;box-shadow: 2px 1px 13px 4px rgb(255, 255, 255), 0 0px 5px 1px rgba(0, 0, 0, 0.49)}
.product-wrapper .owl-slider{padding-bottom: 20px}
.product-wrapper .owl-stage-outer{height:292px!important}
.product-wrapper .pname{padding:10px;z-index:2;position:absolute;text-align:center;bottom:-55px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-radius: 3px}
.product-wrapper .col-lg-4{margin-bottom:40px}
.product-wrapper .item .co-name{font-size:14px;}
.product-wrapper .item figure{margin:0}
/*-----------------Product box img-----------------*/
.product-wrapper .box-img{margin-bottom: 25px;position: relative;}
.product-wrapper .box-img .prod-detail:hover{box-shadow: -2px -2px 3px rgba(255,255,255,1), 2px 2px 3px rgba(0,0,0,0.1);}
.product-wrapper .box-img figure{width:100%;height: 245px;position: relative;margin-bottom: 0}
.product-wrapper .box-img figure img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
@media(min-width:768px) and (max-width: 1199px){
.product-wrapper .box-img figure{height: 196px}
}
@media(max-width: 767px) {
.product-wrapper .box-img figure{height: 295px;}
}
@media(max-width: 320px){
.product-wrapper .box-img figure{height: 260px;}
}
/*-----------------Contact Page-----------------*/
.contact ul{list-style-type: none;position: relative;line-height: 29px;}
.contact ul li{margin-bottom: 30px;}
.contact ul li:before{font-family:"font awesome 5 free";font-weight:600;position:absolute;text-align:center;vertical-align:middle;left:0;;box-shadow:2px 2px 14px #e2d2d2;width:30px;border-radius:15px}
.contact ul .name:before{content: "\f007";}
.contact ul .address:before{content: "\f3c5"}
.contact ul .email:before{content: "\f0e0"}
.contact ul .phone:before{content: "\f095"}
.contact ul .catalog:before{content: "\f57e"}
.contact ul li a{text-decoration: none;}
.qrcode{width: 150px;height: 150px;position: relative;}
.qrcode img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.contact-map .content{line-height: 1px;}
/*-----------------Testimonials-----------------*/
.testimonial .owl-nav{display: none !important;}
.testimonial .item{border:1px solid rgba(0,0,0,0.2);border-radius:5px;overflow: hidden;}
.owl-carousel .owl-item img.owl-lazy{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.testimonial .item{padding: 15px;text-align: center;}
.testimonial .item:hover figure{transform: scale(1.1);}
.testimonial .item figure{position:relative;width:80px;height:80px;margin:0 auto 15px auto;border-radius:50%;overflow:hidden;box-shadow: 2px 2px 1px 3px rgba(255,255,255,1), -2px -2px 1px 4px rgba(0,0,0,0.1);transition: .5s}
.testimonial .item figure img{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);max-width: 100%;max-height: 100%;}
.testimonial .item span{height:50px;width:50px;border:1px solid;display:inline-block;border-radius:50%;line-height:43px;margin:15px 0}
.testimonial .item span .icon {vertical-align: middle;}
.testimonial .item .co-name{font-size: 14px;}
.testimonial .owl-stage{display: flex;justify-content: center;}
@media (max-width: 375px){
.testimonial .owl-nav{top: -55px;}
}
/*-----------------Why Choose Us-----------------*/
.why-us-item .col-lg-4:first-child{padding-right: 15px}
.why-us-item .col-lg-4:last-child{padding-left: 15px}
.why-us-item .item .title{font-size: 18px;margin: 10px 0;}
.why-us-item .item{padding:15px 0;overflow:hidden;transition:.5s;height: 100%;}
.why-us-item .item:hover .icon{transform:translate(-50%,-50%) scale(1.1);}
.why-us-item .item:hover span{border-radius: 0}
.why-us-item .item:hover{box-shadow:0 0 3px rgba(0,0,0,0.2);}
.why-us-item .item span{height:50px;width:50px;display:inline-block;position:relative;border-radius:50%;font-size:22px;transition:.5s}
.why-us-item .item .icon{border-radius:50%;transition:.5s;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.why-us-item p{margin:0;padding:0 15px}
@media (max-width: 991px) {
.why-us-item .item{border-radius:0;}
.why-us-item .col-lg-4:not(:last-child), .why-us-item .col-sm-12:not(:last-child) {margin-bottom:15px}
.why-us-item .row .col-sm-12:last-child .item{margin-bottom:0}
.why-us-item .col-lg-4:first-child, .why-us-item .col-lg-4:last-child{padding: 0}
}
/*-----------------Product Details Page-----------------*/
.product-details .owl-carousel {padding: 0 40px}
.product-details .owl-carousel .owl-nav{position:relative;right:-4px;top: -38px}
.product-details .owl-carousel .owl-nav button.owl-prev{left: -40px;}
.product-details .item figure img{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.product-details .item figure:hover{cursor: pointer;}
.product-details .content{padding-bottom: 20px;display: flex;}
.product-details .item{text-align: center;height: 72px;}
.product-details .content span{font-size:33px;font-weight:900;line-height:23px}
.product-details .item figure{margin: 0}
.prod-content{position: relative;flex: 1}
.prod-container .carousel-thumb .carousel-inner img{width:100%;max-height:100%;position:absolute;top:0;left:50%;transform:translate(-50%,0);}
.prod-content h1,.prod-content h2,.prod-content h3,.prod-content h4,.prod-content h5,.prod-content h6{font-size:27px;position:relative;text-shadow:2px 2px 2px rgba(0,0,0,0.05);font-family:"Monotype Corsiva";}
.prod-content ul{list-style-type:none;padding-left: 30px}
.prod-content ul li:before{content:"\f28d";position:absolute;left:0px;font-family:"font awesome 5 free";font-weight:600;}
.prod-content table{width:100%}
.prod-content table td{border:1px solid;border-collapse:collapse;padding:8px 5px;width: 50%}
.product-thumb {width: 400px; text-align: center; margin:0 20px 0 0;}
.product-thumb > figure {border-radius:4px; padding: 9px; position: relative; width:100%; height:400px; border-radius: 4px; overflow: hidden;margin-bottom: 20px;}
.product-details .owl-nav {display: block;}
.product-thumb figure:before {position: absolute; content: ''; width: 100%; height: 100%; top: 0; left: 0; z-index: 1}
.product-thumb img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); max-width: 100%; max-height:100%; z-index: 2; width: auto !important}
.product-text {flex: 1}
@media (max-width: 1199px) {
.product-details .item{height:56px}
.product-details .owl-carousel .owl-nav{top: -28px}
}
@media(max-width:991px) {
.product-thumb{width:100%}
.product-details .content{display:block}
.product-details .item{height:108px}
.product-details .owl-carousel .owl-nav{top: -56px}
.product-thumb figure{height:430px}
}
@media (max-width: 767px) {
.product-details .item{height:116px}
}
@media (max-width: 640px) {
.product-details .item{height:92px}
.product-details .owl-carousel .owl-nav{top: -46px}
}
@media (max-width: 575px) {
.product-details .item{height:76px}
.product-details .owl-carousel .owl-nav{top: -35px}
}
@media (max-width: 480px) {
.product-details .item{height:58px}
.product-thumb figure{height:420px}
.product-details .owl-carousel .owl-nav{top: -30px}
}
@media (max-width: 414px) {
.product-thumb figure{height:350px}
}
@media (max-width: 375px) {
.product-thumb figure{height:315px}
.product-details .item{height:50px}
.product-details .owl-carousel .owl-nav{top: -26px}
}
@media (max-width: 360px) {
.product-thumb figure{height:300px}
.product-details .item{height:48px}
.product-details .owl-carousel .owl-nav{top: -24px}
}
@media (max-width: 320px) {
.product-details .item{height:38px}
.product-thumb figure{height:260px}
.product-details .owl-carousel .owl-nav{top: -20px}
}
/*-----------------404 error page-----------------*/
.error-page .title{font-size:150px}
.error-page .heading-1{font-size:40px}
.error-page .heading-2{font-size:17px}
.error-page a{margin:22px}
.error-page-wrapper{padding-left:30px}
/*-----------------Sitemap-----------------*/
.sitemap{padding:15px;}
.sitemap ul {line-height: 36px}
.sitemap ul li a{transition: .5s}
.sitemap ul li a:hover{padding-left: 7px;}

/*-----------------color Setting-----------------*/
.color-change-wrap{width:250px;box-shadow:0 0 8px rgba(0,0,0,0.2);background:rgba(255,255,255,0.99);position:fixed;top:150px;left:-253px;z-index:999;padding:25px;transition:all .5s}
.color-change-wrap.active{left:-10px}
.color-change-head{margin-bottom:10px;font-size:14px;color:#333;text-align:center}
.color-change-wrap .row > *{padding:2px}
.color-change-wrap .row > * > *{cursor:pointer}
.color-change-wrap .temp-color i{float:right;width:50%;height:100%;display:inline-block}
.color-change-wrap .temp-color{height:40px;display:block;width:100%;border-radius:5px;overflow:hidden}
.color-change-wrap .yellow-white .temp-color{background:#eb9a00}
.color-change-wrap .yellow-white .temp-color i{background:#f3f3f3}
.color-change-wrap .brown-white .temp-color{background:#942e00}
.color-change-wrap .brown-white .temp-color i{background:#f3f3f3}
.color-change-wrap .orange-white .temp-color{background:#de570d}
.color-change-wrap .orange-white .temp-color i{background:#f3f3f3}
.color-change-wrap .pink-white .temp-color{background:#ed335f}
.color-change-wrap .pink-white .temp-color i{background:#f3f3f3}
.color-change-wrap .red-white .temp-color{background:#da0d0d}
.color-change-wrap .red-white .temp-color i{background:#f3f3f3}
.color-change-wrap .sky-blue-white .temp-color{background:#008ccb}
.color-change-wrap .sky-blue-white .temp-color i{background:#f3f3f3}
.color-change-wrap .purple-blue .temp-color{background:#6a3e71}
.color-change-wrap .purple-blue .temp-color i{background:#1e74bc}
.color-change-wrap .cyan-sky-blue .temp-color{background:#008692}
.color-change-wrap .cyan-sky-blue .temp-color i{background:#a7e4e5}
.color-change-wrap .green-light-green .temp-color{background:#057733}
.color-change-wrap .green-light-green .temp-color i{background:#d3f4e1}
.color-change-wrap .dark-blue-blue .temp-color{background:#175ca1}
.color-change-wrap .dark-blue-blue .temp-color i{background:#139fd3}
.color-name{margin-bottom:5px;color:#000;font-size:13px}
.color-change-setting{background:rgba(255,255,255,0.99);width:40px;height:40px;line-height:38px;font-size:22px;position:absolute;right:-40px;top:20px;text-align:center;cursor:pointer;box-shadow:3px 0 7px rgba(0,0,0,0.2)}
.color-change-setting i{animation-name:spin;animation-duration:3000ms;animation-iteration-count:infinite;animation-timing-function:linear}
@keyframes spin {
from{transform:rotate(0deg)}
to{transform:rotate(360deg)}
}
/*-----------------Breadcrumb-----------------*/
.breadcrumb{background: none;padding: 0 0 15px 0;margin-bottom: 0;}
.breadcrumb-item{position: relative; color: #999!important}
.breadcrumb-item:first-child:before{content: none;}
.breadcrumb-item:not(:first-child):before{content: "/"; position: absolute;left: 10px;color: #999!important }
.breadcrumb-item:not(:first-child){padding-left: 25px}
.breadcrumb-item a{color: #fff}
.breadcrumb-item{font-size: 13px}
.breadcrumb-padding{padding: 15px 15px 0 0}
@media (max-width: 991px){
.breadcrumb-section .breadcrumb{display: none;}
.breadcrumb-padding{padding:0}
}

